<ion-header translucent>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeMd="4" sizeLg="3" *ngFor="let img of images">
        <ion-img [src]="img" class="grid-image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
