<ion-list class="ion-padding">
  <ion-item   [ngClass]="{'itemSelected' : op1Selected}" (click)="selectOp(0)" lines="none" style="margin-bottom: 10px;" detail="false" mode="ios">
    <ion-label [ngClass]="{'labelselected' : op1Selected}" text-wrap [innerHtml]="(isMyExp ? 'EXPERIENCE.MenuOp12' : 'EXPERIENCE.MenuOp1') | translate"></ion-label>
  </ion-item>
  <ion-item [ngClass]="{'itemSelected' : op2Selected}" (click)="selectOp(1)" lines="none" detail="false" mode="ios">
    <ion-label [ngClass]="{'labelselected' : op2Selected}" text-wrap>
      {{ 'EXPERIENCE.MenuOp2' | translate }}
    </ion-label>
  </ion-item>
</ion-list>
