ion-header {
    height: 40%;
    background-color: whitesmoke;
    //background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));

}
ion-toolbar{
    --background: transparent;
}

.img-conteiner{
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 0;
    top: 0;
}

.imgCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    // max-width: 100%;
    // max-height: 100%;
}

.menuBtn {
    font-size: 18px;
    background: var(--ion-color-blanco);
    height: 48px;
    width: 50px;
    color: var(--ion-color-negro);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-top: 0px;
    margin-left: 0px;
   
}

.menuIcon {
    margin-left: auto;
    margin-right: auto;
}
.ext{
    margin-top: 0% !important;
    width: 100% !important;
    background: black !important;
    border: 1px solid black !important;
    ion-label{
    font-size: 16px !important;
    font-weight: bold !important;
    }
}
.btnBack {
    font-size: 18px;
    background: var(--ion-color-blanco);
    height: 48px;
    width: 50px;
    color: var(--ion-color-negro);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-top: 0px;
    
}

.nameMatch {
    font-family: 'Sk-Modernist-Bold';
    font-size: 24px;
    color: var(--ion-color-negro);
    margin: 0;
}

.roleMatch {
    font-family: 'Sk-Modernist-Regular';
    font-size: 14px;
    color: var(--ion-color-gris1);
    margin-top: 5px;
    //margin: 0;
}

.btnMessage {
    font-size: 18px;
    border-style: solid;
    height: 48px;
    width: 50px;
    color: var(--ion-color-primary1);
    border-width: 1px;
    border-radius: 15px;
    margin-top: 0px;
}

.rate-start {
    position: absolute;
    width: 13px;
}

.text-ratings {
    position: absolute;
    font-family: 'Sk-Modernist-Regular';
    font-size: 12px;
    color: var(--ion-color-gris1);
}

.txtLocation {
    font-family: 'Sk-Modernist-Bold';
    font-size: 16px;
    color: var(--ion-color-negro);
    margin-top: 2px;
    margin-bottom: 0;
}

ion-accordion-group {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
}

ion-accordion {
    background: var(--ion-color-blanco);
}

.accord-label-hd {
    font-family:'Sk-Modernist-Bold';
    font-size: 16px;
    color: var(--ion-color-negro);
}

.accord-slot_cntnt {
    padding-top: 0;
    padding-bottom: 0;
}

.accord-title-secc {
    font-family:'Sk-Modernist-Bold';
    font-size: 14px;
    color: var(--ion-color-negro);
    margin-bottom: 5px;
    margin-left: -5.5%;
   
}

.accord-body-secc {
    font-family:'Sk-Modernist-Regular';
    font-size: 14px;
    color: var(--ion-color-negro);
    margin: 0;
    margin-left: -5.5%;
    
}

.txtTitle {
    font-family: 'Sk-Modernist-Bold';
    font-size: 16px;
    color: var(--ion-color-negro);
    margin-top: 20px;
    margin-bottom: 0;
}

.dirExp {
    font-family: 'Sk-Modernist-Regular';
    font-size: 14px;
    color: var(--ion-color-gris1);
    margin-top: 8px;
    margin-bottom: 0;
}

.contPosition {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ion-color-primary1);
    width: 95%;
    height: 35px;
    border-style: solid;
    border-color: var(--ion-color-primary1);;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 38px;
    margin-right: 0;
    margin-left: auto;
}

.imgPosition {
    width: 12px;
    margin-right: 4px;
}

.txtPosition {
    font-family: 'Sk-Modernist-Bold';
    font-size: 12px;
    color: var(--ion-color-blanco);
}

.pExp {
    font-family: 'Sk-Modernist-Regular';
    font-size: 14px;
    color: var(--ion-color-gris1);
    margin-top: 5px;
    margin-bottom: 5px;
}

.DesA {
    font-family: 'Sk-Modernist-Bold';
    font-size: 14px;
    color: var(--ion-color-primary1);
    margin-top: 5px;
}

.img-col {
    text-align: center;
    align-content: center;
}

.imgGallery1 {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.btnAction {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 12px;
    text-transform: none;
    color: var(--ion-color-gris1);
    height: 40px;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 8px;
    --box-shadow: none;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
}