/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* FONTS Custom */
@font-face {
    font-family: 'Sk-Modernist-Regular';
    src: url('./assets/fonts/Sk-Modernist-Regular.otf');
}

@font-face {
    font-family: 'Sk-Modernist-Bold';
    src: url('./assets/fonts/Sk-Modernist-Bold.otf');
}

.PickerControl {
    .picker-button.ion-activatable {
        color: var(--ion-color-primary1);
    }

    .picker-columns {
        font-family: 'Sk-Modernist-Regular';
        font-size: 18px;
        color: var(--ion-color-negro);
    }

    .picker-suffix {
        font-family: 'Sk-Modernist-Regular';
        font-size: 18px;
        color: var(--ion-color-primary1);
    }

    .picker-opt.picker-opt-selected {
        color: var(--ion-color-negro);;
    }
}

.SelectControl {
    .action-sheet-title {
        font-family: 'Sk-Modernist-Bold';
        font-size: 20px;
        text-align: center;
        color: var(--ion-color-negro);
    }
    .action-sheet-button.ion-activatable.ion-focusable.action-sheet-.select-interface-option {
        font-family: 'Sk-Modernist-Regular';
        font-size: 16px;
        color: var(--ion-color-negro);
    }

    .action-sheet-button.ion-activatable.ion-focusable.action-sheet-selected.select-interface-option {
        font-family: 'Sk-Modernist-Regular';
        font-size: 18px;
        color: var(--ion-color-negro);
    }

    .action-sheet-button.ion-activatable.ion-focusable.action-sheet-cancel {
        color: var(--ion-color-primary1);
    }
}

.MultiSelectControl {
    --min-width: 90%;
    
    .alert-checkbox-group {
        max-height: 90%;
        border: none;
    }

    .alert-title {
        font-family: 'Sk-Modernist-Bold';
        font-size: 20px;
        text-align: center;
        color: var(--ion-color-negro);
    }

    .alert-sub-title {
        font-family: 'Sk-Modernist-Bold';
        font-size: 14px;
        text-align: center;
        color: var(--ion-color-negro);
        padding-top: 16px;
    }

    .alert-button {
        font-family: 'Sk-Modernist-Bold';
        font-size: 16px;
        color: var(--ion-color-negro);
    }
    .alert-button-role-cancel {
        font-family: 'Sk-Modernist-Bold';
        font-size: 16px;
        color: var(--ion-color-primary1);
    }
}

//Estilos para Alert Super Like
.alert-superlike-class {
    --backdrop-opacity: 0.6;
    --background: #ffffff;
    
    .alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios {
        background-image: url('./assets/icon/25-Super_like.png') !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 40%;
        color: #ffffff !important;
        height: 100px !important;
        //height: 30px !important;
        margin-bottom: 10px !important;
    }
    .alert-sub-title.sc-ion-alert-md, .alert-sub-title.sc-ion-alert-ios {
        font-family: 'Sk-Modernist-Bold' !important;
        font-size: 24px !important;
        text-align: center !important;
        //color: #4d4d4d !important;
    }   
    .alert-message.sc-ion-alert-md, .alert-message.sc-ion-alert-ios {
        font-family: 'Sk-Modernist-Regular' !important;
        font-size: 16px !important;
        text-align: center !important;
        color: var(--ion-color-gris1) !important;
        margin-bottom: 10px;
    }

    .alert-button-group.sc-ion-alert-md {
        justify-content: center;
    }
}

button.alert-button.alert-button-confirm {
    font-family: 'Sk-Modernist-Bold' !important;
    font-size: 14px !important;
    text-transform: none;
    background-color: var(--ion-color-primary1);
    color: var(--ion-color-blanco);
}

button.alert-button.alert-button-cancel {
    font-family: 'Sk-Modernist-Bold' !important;
    font-size: 14px !important;
    text-transform: none;
    color: var(--ion-color-negro);
    border-width: 2px;
    border-color: var(--ion-color-primary1);
}

.report-popever{
    --width: 96%;
    //max-height: 500px;
    background: rgb(0,0,0,.5);
    
}

.report-popever::part(content){
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.decimal-list{
    list-style-type: decimal !important;
}

.lower-latin-list{
    list-style-type: lower-latin !important;
}
.center-text{
    text-align: center;
}
.upper-latin-list{
    list-style-type: upper-latin !important;
}
.none-decoration-list{
    list-style-type: none !important;
}

.custom-loading {
    --background: transparent;
}
.red-dot{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50px;
    position: absolute;
    top: 16px;
    left: 28px;
    z-index: 11;
    
}

.ifamily{
    width: 100%;
}

.talkjs-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


