.title-header {
    font-family: 'Sk-Modernist-Bold';
    font-size: 20px;
}

.btn-cancel {
    font-family: 'Sk-Modernist-Bold';
    font-size: 15px;
}

.search-bar {
    font-family: 'Sk-Modernist-Regular';
    font-size: 14px;
}

ion-item {
    font-family: 'Sk-Modernist-Regular';
    font-size: 15px;
}

.flag-icon-ow {
    margin-right: 5px;
}