ion-back-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-top: 20px;
}

.title-h1 {
    font-family: 'Sk-Modernist-Bold';
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 35px;
}

.text-p {
    display: block;
    font-family: 'Sk-Modernist-Regular';
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 40px;
}

ion-item {
    --border-style: solid;
    --border-width: 1px;
    --border-color: var(--ion-color-negro);
    --border-radius: 15px;
    --highlight-color-invalid: none;
    --highlight-color-valid: none;
    --highlight-color-focused: none !important;
    --min-height: 60px;
}

ion-intl-tel-input {
    //background: red;
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
   /*  height: 70px;
    margin-top: -30px; */
}

.item-code {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    color: #4d4d4d !important;
    margin-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
}

.flag-icon-my {
    font-size: 16px !important;
    margin-right: 5px;
    margin-left: 15px;
}

.next-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 15px;
    text-transform: none;
    width: 100%;
    height: 40px;
    --border-radius: 10px;
    --box-shadow:none;
    margin-top: 30px;
}