ion-header {
    background-color: var(--ion-color-blanco);
    margin-bottom: -30px;
}

.title_txt {
    font-family: 'Sk-Modernist-Bold';
    font-size: 18px;
}

.save-Bt {
    font-family: 'Sk-Modernist-Bold';
    font-size: 18px;
    color: var(--ion-color-primary1);
    text-transform: none;
}

.txtTitle {
    font-family: 'Sk-Modernist-Bold';
    font-size: 16px;
    color: var(--ion-color-negro);
    margin-bottom: 0;
}

ion-item {
    font-family: 'Sk-Modernist-Bold';
    font-size: 16px;
    --detail-icon-color: var(--ion-color-primary1);
}

.detailText {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    --color: var(--ion-color-gris1);
    margin-right: 0px;
}

.item-field {
    --background: var(--ion-color-blanco);
    --color: var(--ion-color-negro);
    --color-focused: var(--ion-color-negro);
    --border-width: 1px !important;
    --padding-top: 3px; 
    --padding-start: 0px;
    --highlight-color-invalid: none;
    --highlight-color-valid: none;
    --highlight-color-focused: none !important;

    &.item-shape-round {
        border-style: solid !important;
        border-width: 1px !important;
        border-radius: 15px !important; 
    }

}

.item-field::part(native) {
    border: none;
}

.item-highlight {
    border-width: 0px !important;
}

.camposLabel-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    
    &.label-floating {
        font-family: 'Sk-Modernist-Regular';
        font-size: 17px;
        color: var(--ion-color-negro) !important;
        max-width: fit-content !important;
        margin-top: -6px;
    }
}

.input-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 19px;
    margin-top: 5px;
}

.toggleChk {
    display: flex;
    --background: var(--ion-color-gris1);
    --background-checked: var(--ion-color-primary1);
    --handle-background: var(--ion-color-blanco);
    --handle-background-checked: var(--ion-color-blanco);
    --handle-spacing: 2px;
    --handle-height: 25px;
    --handle-width: 25px;
    width: 50px;
    height: 30px;
    padding: 0px;
    padding-right: 5px;
    border: 0.6px solid var(--ion-color-blanco);
    border-radius: 18px;
}

.cal-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 13px;
    text-transform: none;
    width: 100%;
    height: 60px;
    --border-radius: 10px;
    --box-shadow:none;
}

.img-cal {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.date-cal {
    margin-left: auto;
    margin-right: 0;
}

.modal-cal {
    --width: 400px;
}

.content-cal {
    .scroll-content {
        display: flex !important;
        align-items: center !important;
    }
}

ion-datetime {
    --background: var(--ion-color-blanco);
    font-family: 'Sk-Modernist-Bold';
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.title-cal {
    display: block;
    text-align: center;
    font-family: 'Sk-Modernist-Bold';
    font-size: 18px;
    color: var(--ion-color-negro);
}

.calInter-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 15px;
    text-transform: none;
    width: 100%;
    height: 60px;
    --border-radius: 10px;
    --box-shadow:none;

    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.ion-item-long {
    --background: var(--ion-color-blanco);
    --color: var(--ion-color-negro);
    --color-focused: var(--ion-color-negro);
    --border-width: 1px !important;
    --padding-top: 3px;
    margin-top: 15px;
    --highlight-color-invalid: none;
    --highlight-color-valid: none;
    --highlight-color-focused: none !important;
    height: 170px;

    &.item-shape-round {
        border-style: solid !important;
        border-width: 1px !important;
        border-radius: 10px !important; 
    }
}

.ion-item-long::part(native) {
    border: none;
}

.item-highlight {
    border-width: 0px !important;
}

.ion-item-select {
    --background: var(--ion-color-blanco);
    --color: var(--ion-color-negro);
    --color-focused: var(--ion-color-negro);
    --border-width: 1px !important;
    --border-radius: 15px;
    --border-color: var(--ion-color-negro);
    //--padding-bottom: 0px; 
    --padding-start: 15px;
    --highlight-color-invalid: none;
    --highlight-color-valid: none;
    --highlight-color-focused: none !important;
    /* margin-top: 30px;
    margin-bottom: 70px; */
}

ion-select {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    --padding-end: 0px;
}

ion-select::part(icon) {
    display: none !important;
}

.item-interactive-disabled.sc-ion-label-md-h:not(.item-multiple-inputs),
    .item-interactive-disabled:not(.item-multiple-inputs) .sc-ion-label-md-h{
    opacity: 1 !important;
}

.contenedorLoc{
    margin-left: 20px !important;
    margin-right: 20px !important;
}