<ion-header class="hdExperience ion-no-border ion-padding">
  <ion-toolbar>
    <ion-title class="titleExperience" mode="ios" [innerHtml]="(isMyExp ? 'EXPERIENCE.Title2' : 'EXPERIENCE.Title') | translate"></ion-title>
    <ion-buttons class="menuBtn" slot="end" (click)="openMenuPopover( $event )">
      <ion-icon class="menuIcon" name="ellipsis-vertical"></ion-icon>
    </ion-buttons>
    <ion-buttons class="menuBtn" slot="start" (click)="filterexp()">
      <ion-icon class="menuIcon op" name="options"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      placeholder="Search by name, date or location"
      [(ngModel)]="searchTerm"
      *ngIf="showfilter"
      (ionInput)="filterExperiences()">
    </ion-searchbar>
     
    <h1 [innerHtml]="(isMyExp ? 'EXPERIENCE.SubTitle2' : 'EXPERIENCE.SubTitle') | translate"></h1>
    <!-- <ion-buttons slot="end" (click)="changeList()">
      <ion-icon class="iconList" name="list-outline" *ngIf="isBigList"></ion-icon>
      <ion-icon class="iconList" name="grid-outline" *ngIf="!isBigList"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>

  <ion-toolbar  mode="ios" *ngIf="!isMyExp && experienceCat.length != 0">
    <ion-segment (ionChange)="optionSelected($event)" scrollable value="all">
      <ion-segment-button value='all'>
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngFor="let op of experienceCat" value={{op.id}}>
        <ion-label>{{ op.name }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="blanco">
  <ion-grid fixed *ngIf="isBigList">
    <ion-row>
      <ng-container *ngFor="let exp of filteredExperiences; let i = index;">
        <ion-col class="colD" size="6" *ngIf="i%2 == 0">
          <ion-card class="cardBig" (click)="selectExperience(exp.experienceId)">
            <!-- <img class="imgListBig" [src]="exp.image"> -->
            <div class="parent">
              <img class="imgListBig" src={{exp.image}}>
              <img class="img-VIPB" src="../../../../assets/icon/12-Vip_card.png" *ngIf="exp.vip && !isMyExp">
            </div>
            <p class="title-p">{{ exp.title }}</p>
            <p class="date-p">{{ exp.dateTime | date:'LLL, dd, hh:mm aa' : '' : lanDate }}</p>
            <p class="cap-p">Capacity&nbsp; <span class="cap-2">{{ exp.amountPeople }} Persons</span></p>
          </ion-card>
        </ion-col>

        <ion-col class="colD" size="6" *ngIf="i%2 != 0">
          <ion-card class="cardBig" (click)="selectExperience(exp.experienceId)">
            <!-- <img class="imgListBig" [src]="exp.image"> -->
            <div class="parent">
              <img class="imgListBig" src={{exp.image}}>
              <img class="img-VIPB" src="../../../../assets/icon/12-Vip_card.png" *ngIf="exp.vip && !isMyExp">
            </div>
            <p class="title-p">{{ exp.title }}</p>
            <p class="date-p">{{ exp.dateTime | date:'LLL, dd, hh:mm aa' : '' : lanDate }}</p>
            <p class="cap-p">Capacity&nbsp; <span class="cap-2">{{ exp.amountPeople }} Persons</span></p>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <ion-grid fixed *ngIf="!isBigList">
    <ng-container *ngFor="let exp of filteredExperiences; let i = index;">
      <ion-row>
        <ion-col>
          <ion-card class="cardSmall" (click)="selectExperience(exp.experienceId)">
            <!-- <img [src]="exp.image">
            <p class="title-p">{{ exp.title }}</p>
            <p class="date-p">{{ exp.datetime }}</p>
            <p class="cap-p">Capacity&nbsp; <span class="cap-2">{{ exp.amountPeople }} Persons</span></p> -->
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <!-- <img [src]="exp.image"> -->
                  <img class="imgListSmall" src={{exp.image}}>
                  <img class="img-VIPS" src="../../../../assets/icon/12-Vip_card.png" *ngIf="exp.vip && !isMyExp">
                </ion-col>
                <ion-col size="9">
                  <p class="title-pS">{{ exp.title }}</p>
                  <p class="date-pS">{{ exp.dateTime | date:'LLL, dd, hh:mm aa' : '' : lanDate }}</p>
                  <p class="cap-pS">Capacity&nbsp; <span class="cap-2">{{ exp.amountPeople }} Persons</span></p>
                  <!-- <ion-card-content>
                    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
                  </ion-card-content> -->
                </ion-col>
              </ion-row>
             </ion-grid>  
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

  <!-- INFINITE SCROLL -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadExp($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="{{ 'EXPERIENCE.LoadingTxt' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
