<ion-header class="hdPage ion-no-border ion-padding">
  <ion-toolbar color="blanco">
    <p class="titlePage">{{ 'MATCH.Title' | translate }}</p>
    <!-- <ion-buttons class="menuBtn" slot="end"  id="open-modal" expand="block"> (click)="openMenuPopover( $event )">
      <ion-icon class="menuIcon" name="swap-vertical"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
  <p class="titleLoc">{{ 'MATCH.SubTitle' | translate }}</p>
</ion-header>

<ion-content color="blanco" class="ion-no-padding">
  <ion-grid class="ion-padding">
    <!-- <ion-row>
      <ion-col>
        <hr>
        <p class="titleSec">{{ 'MATCH.TitleToday' | translate }}</p>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ng-container *ngFor="let match of matchService.matchPerson; let i = index;">
        <ion-col class="colD" size="6" *ngIf="i%2 == 0">
          <ion-card class="cardBig">
            <div class="parent" (click)="selectMatch(match)">
              <img class="imgListBig" src={{match.image}} >
              <!-- <img class="img-VIPB" src="../../../../assets/icon/12-Vip_card.png" *ngIf="exp.vip && !isMyExp"> -->
            </div>
            <p class="name-p">{{ match.name }}, {{ match.age }}</p>
            <ion-row>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-right: 0.5px;" (click)="cancelMatch(match)">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-left: 0.5px;" (click)="chatMatch(match.matchId)">
                  <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>

        <ion-col class="colD" size="6" *ngIf="i%2 != 0">
          <ion-card class="cardBig">
            <div class="parent" (click)="selectMatch(match)">
              <img class="imgListBig" src={{match.image}} >
              <!-- <img class="img-VIPB" src="../../../../assets/icon/12-Vip_card.png" *ngIf="exp.vip && !isMyExp"> -->
            </div>
            <p class="name-p">{{ match.name }}, {{ match.age }}</p>
            <ion-row>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-right: 0.5px;" (click)="cancelMatch(match)">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-left: 0.5px;" (click)="chatMatch(match.matchId)">
                  <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <hr>
        <p class="titleSec">{{ 'MATCH.TitleYesterday' | translate }}</p>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row>
      <ng-container *ngFor="let match of yesterdayMatchPerson; let i = index;">
        <ion-col class="colD" size="6" *ngIf="i%2 == 0">
          <ion-card class="cardBig">
            <div class="parent">
              <img class="imgListBig" src={{match.image}} (click)="selectMatch(match)">
            </div>
            <p class="name-p">{{ match.name }}, {{ match.age }}</p>
            <ion-row>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-right: 0.5px;" (click)="cancelMatch(match)">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-left: 0.5px;" (click)="chatMatch(match.matchId)">
                  <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>

        <ion-col class="colD" size="6" *ngIf="i%2 != 0">
          <ion-card class="cardBig">
            <div class="parent">
              <img class="imgListBig" src={{match.image}} (click)="selectMatch(match)">
            </div>
            <p class="name-p">{{ match.name }}, {{ match.age }}</p>
            <ion-row>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-right: 0.5px;" (click)="cancelMatch(match)">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-left: 0.5px;" (click)="chatMatch(match.matchId)">
                  <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row> -->

    <!-- <ion-row>
      <ion-col>
        <hr>
        <p class="titleSec">{{ 'MATCH.TitleOld' | translate }}</p>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row>
      <ng-container *ngFor="let match of oldMatchPerson; let i = index;">
        <ion-col class="colD" size="6" *ngIf="i%2 == 0">
          <ion-card class="cardBig">
            <div class="parent">
              <img class="imgListBig" src={{match.image}} (click)="selectMatch(match)">
            </div>
            <p class="name-p">{{ match.name }}, {{ match.age }}</p>
            <ion-row>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-right: 0.5px;" (click)="cancelMatch(match)">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-left: 0.5px;" (click)="chatMatch(match.matchId)">
                  <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>

        <ion-col class="colD" size="6" *ngIf="i%2 != 0">
          <ion-card class="cardBig">
            <div class="parent">
              <img class="imgListBig" src={{match.image}} (click)="selectMatch(match)">
            </div>
            <p class="name-p">{{ match.name }}, {{ match.age }}</p>
            <ion-row>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-right: 0.5px;" (click)="cancelMatch(match)">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="6" class="col-btn">
                <ion-button class="btn-card" color="negro" style="padding-left: 0.5px;" (click)="chatMatch(match.matchId)">
                  <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row> -->
  </ion-grid>
</ion-content>
