


<ion-content #scrollableContent *ngIf="pageid == 'settings'" class="ion-padding show-scrollbar" (ionScroll)="onScroll($event)" scrollEvents="true"  >
  <ion-icon name="close" class="close" (click)="close()"></ion-icon>
  <p class="toptit">{{ 'Language-POPUP.Title' | translate }}</p>
  <ion-list lines="none">
    <ion-item 
      lines
      *ngFor="let lang of languages" 
      (click)="selectLanguage(lang)" 
      button 
      class="language-item">
      <ion-label class="language-label">{{ lang.flag }} {{ lang.text }}</ion-label>
    </ion-item>
  </ion-list>
  <br>
   <ion-icon name="chevron-down-outline" class="scroll"  *ngIf="showScrollIcon"></ion-icon>
</ion-content>


<ion-content #scrollableContent class="ion-padding show-scrollbar" *ngIf="pageid == undefined" (ionScroll)="onScroll($event)" scrollEvents="true">
  <p class="toptit" >Select Language</p>
  <ion-list lines="none">
    <ion-item 
      lines
      *ngFor="let lang of languages" 
      (click)="selectLanguage(lang)" 
      button 
      class="language-item">
      <ion-label class="language-label">{{ lang.flag }} {{ lang.text }}</ion-label>
    </ion-item>
  </ion-list>
  <br>
  <ion-icon name="chevron-down-outline" class="scroll"  *ngIf="showScrollIcon"></ion-icon>
</ion-content>
