ion-content{
.scroll{
        font-size: 20px;
    position: fixed;
    right: 5%;
    background: black;
    color: white;
    padding: 2%;
    bottom: 4%;
    margin: auto;
    border-radius: 50%;
    z-index: 55;
}

    .close{
    position: absolute;
    right: 5%;
    background: black;
    color: white;
    padding: 1%;
    border-radius: 50%;
    font-size: 25px;
    z-index: 555;
    }
    .toptit{
    margin: 0;
    padding: 5%;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    }
    ion-label{
    font-size: 18px;
    font-weight: bold;
    }
}

