<ion-header class="hdPage ion-no-border ion-padding">
  <ion-toolbar color="blanco">
    <ion-title class="titlePage" mode="ios">{{ 'DISCOVER.Title' | translate }}</ion-title>
    <ion-title class="titleLoc" mode="ios">{{user?.location?.city}}, {{user?.location?.state}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="blanco" *ngIf="!isLoading">
  <div class="divNoFound" *ngIf="noDiscoverFound">
    <img class="imgNoFound" src="../../../assets/icon/31-NoFoundCards.png">
    <p class="pNoFound" *ngIf="discoverUsrs !== null">{{ 'DISCOVER.txtNoFound' | translate }}</p>
    <p class="pNoFound" *ngIf="discoverUsrs === null">{{ 'DISCOVER.txtToLimit' | translate }}</p>
    <p class="pNoFoundRegular" *ngIf="discoverUsrs === null">{{ 'DISCOVER.txtToLimit2' | translate }}</p>
  </div>

  <swiper-container
    #swiperEl
    slides-per-view="1"
    pagination="false"
    style="height: 68vh;"
    *ngIf="!noDiscoverFound && discoverUsrs && discoverUsrs.length > 0"
    [initialSlide]="currentCardIndex"
  >
    <swiper-slide *ngFor="let usr of discoverUsrs; let i = index" [attr.data-index]="i">
      <ion-card class="profile-card" [class.current-card]="i === currentCardIndex">
        <div (click)="openGallery(usr)">
          <img class="profile-avatar" [src]="usr.image?.multimediaUrl || 'assets/icon/30-Default_no-image.jpeg'"/>
        </div>
        <ion-card-content>
          <h2 class="profile-name">{{ usr.firstName }} {{ usr.lastName }}, {{ usr.age }}</h2>
          <p class="profile-description">{{ usr.aboutMe }}</p>

          <div class="profile-info-block" *ngIf="usr.hobbies?.length">
            <div class="info-label">Hobbies:</div>
            <div class="info-value">{{ getNames(usr.hobbies) }}</div>
          </div>

          <div class="profile-info-block" *ngIf="usr.sports?.length">
            <div class="info-label">Sports:</div>
            <div class="info-value">{{ getNames(usr.sports) }}</div>
          </div>

          <div class="profile-info-block" *ngIf="usr.languajes?.length">
            <div class="info-label">Languages:</div>
            <div class="info-value">{{ getNames(usr.languajes) }}</div>
          </div>

          <div class="profile-info-block" *ngIf="usr.sign?.length">
            <div class="info-label">Sign:</div>
            <div class="info-value">{{ getNames(usr.sign) }}</div>
          </div>

          <div class="profile-info-block" *ngIf="usr.education?.length">
            <div class="info-label">Education:</div>
            <div class="info-value">{{ getNames(usr.education) }}</div>
          </div>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <ion-grid fixed *ngIf="!noDiscoverFound && discoverUsrs && discoverUsrs.length > 0">
    <ion-row class="row-btn ion-no-margin ion-no-padding">
      <ion-col size="4" class="ion-no-margin ion-no-padding">
        <img 
          class="btn-small" 
          [class.btn-disabled]="isProcessing"
          src="../../../assets/icon/19-Dislike_button_grey.png" 
          (click)="doDislike()"
        >
      </ion-col>
      <ion-col size="4" class="ion-no-margin ion-no-padding">
        <img 
          class="btn-small" 
          [class.btn-disabled]="!canReset || isProcessing"
          src="../../../assets/icon/24-Refresh_button.png" 
          (click)="returnDicover()"
        >
      </ion-col>
      <ion-col size="4" class="ion-no-margin ion-no-padding">
        <img 
          class="btn-small" 
          [class.btn-disabled]="isProcessing"
          src="../../../assets/icon/21-like_button_orage.png" 
          (click)="doLike()"
        >
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Processing Indicator -->
  <div class="processing-indicator" *ngIf="isProcessing">
    <ion-spinner name="crescent"></ion-spinner>
    <p>{{ processingMessage }}</p>
  </div>

  <!-- Debug Info (remove in production) -->
  <div class="debug-info" *ngIf="false">
    <p>Current Index: {{ currentCardIndex }}</p>
    <p>Total Cards: {{ discoverUsrs?.length || 0 }}</p>
    <p>Can Reset: {{ canReset }}</p>
    <p>Processing: {{ isProcessing }}</p>
  </div>

  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.8" [breakpoints]="[0, 0.8]" (willPresent)="onWillPresent()" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <div class="div-modal-g">
        <ion-header class="header-filter ion-no-border">
          <ion-toolbar color="blanco" mode="ios">
            <ion-title class="titleModal">{{ 'DISCOVER.TitleFilter' | translate }}</ion-title>
            <ion-buttons class="clearModal" slot="end" (click)="clearFilter()">
              {{ 'DISCOVER.ClearBtnFilter' | translate }}
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <div class="div-modal">
          <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
            <ion-list class="listModal ion-padding">
              <ion-row>
                <ion-col size="10">
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Age' | translate }}</h1>
                </ion-col>
                <ion-col size="2">
                  <h1 class="text-h1-2">{{ this.age_between.value.lower }} - {{ this.age_between.value.upper }}</h1>
                </ion-col>
              </ion-row>
              <ion-range class="rangePersonal" formControlName="age_between" [dualKnobs]="true" min="18" max="100"></ion-range>

              <ion-row>
                <ion-col size="10">
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Distancia' | translate }}</h1>
                </ion-col>
                <ion-col size="2">
                  <h1 class="text-h1-2">1 - {{ this.distance.value }}</h1>
                </ion-col>
              </ion-row>
              <ion-range class="rangePersonal" formControlName="distance" min="1" max="1000"></ion-range>

              <ion-row>
                <ion-col>
                  <h1 class="text-subtitle">{{ 'DISCOVER.SubTitle_Filter' | translate }}</h1>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="10">
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Height' | translate }}</h1>
                </ion-col>
                <ion-col size="2">
                  <h1 class="text-h1-2">{{ this.height.value.lower }} - {{ this.height.value.upper }}</h1>
                </ion-col>
              </ion-row>
              <ion-range class="rangePersonal" formControlName="height" [dualKnobs]="true" min="1" max="8"></ion-range>

              <ion-row>
                <ion-col>
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Exercise' | translate }}</h1>
                </ion-col>
              </ion-row>
              <ion-item lines="none" detail>
                <ion-select formControlName="exercise" [interfaceOptions]="customExerciseOptions" interface="action-sheet" cancelText="Cancel">
                  <li *ngFor="let obj of exercises">
                    <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
                  </li>
                </ion-select>
              </ion-item>

              <ion-row>
                <ion-button class="apply-Bt" color="primary1" type="submit">
                  {{ 'DISCOVER.btnApply' | translate }}
                </ion-button>
              </ion-row>
            </ion-list>
          </form>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>