<ion-header class="hdPage ion-no-border ion-padding">
  <ion-toolbar color="blanco">
    <ion-title class="titlePage" mode="ios">{{ 'DISCOVER.Title' | translate }}</ion-title>
    <!-- <ion-buttons class="menuBtn" slot="end"  id="open-modal" expand="block"> 
      <ion-icon class="menuIcon" name="options-outline"></ion-icon>
    </ion-buttons> -->
    <!-- <ion-title class="titleLoc" mode="ios">Chicago, Il</ion-title> -->
    <ion-title class="titleLoc" mode="ios">{{user?.location?.city}}, {{user?.location?.state}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="blanco" class="ion-no-padding" *ngIf="isLoading">
 
</ion-content>

<ion-content color="blanco" class="ion-no-padding" *ngIf="!isLoading">
  <div class="divNoFound" *ngIf="noDiscoverFound">
    <img class="imgNoFound" src="../../../assets/icon/31-NoFoundCards.png">
    <p class="pNoFound" *ngIf="discoverUsrs !== null">{{ 'DISCOVER.txtNoFound' | translate }}</p>
    <p class="pNoFound" *ngIf="discoverUsrs === null">{{ 'DISCOVER.txtToLimit' | translate }}</p>
    <p class="pNoFoundRegular" *ngIf="discoverUsrs === null">{{ 'DISCOVER.txtToLimit2' | translate }}</p>
  </div>

  <div class="contenedorCard" *ngIf="!noDiscoverFound"> <!-- [style.height]="heightImg"> -->
    <ion-card *ngFor="let usr of discoverUsrs" (click)="viewProfile(usr)">
      <!-- <img id="cardIm" class="card-img" [src]="usr.image"> -->
      <img id="cardIm" class="card-img" *ngIf="usr.image?.multimediaUrl" [src]="usr.image.multimediaUrl"
        [style.height]="heightImg" />
      <img id="cardIm" class="card-img" *ngIf="!usr.image?.multimediaUrl" src="../../../assets/icon/30-Default_no-image.jpeg"
        [style.height]="heightImg" />
      <div class="card-gradient"></div>
      <div class="card-boton">
        <ion-buttons class="menuBtn" slot="end" (click)="openMenuPopoverBlock( $event, usr.image.personId )">
          <ion-icon class="menuIcon" name="ellipsis-vertical"></ion-icon>
        </ion-buttons>
      </div>
      <div class="card-title">{{usr.firstName}} {{usr.lastName}}, {{usr.age}}</div>
      <div class="card-subtitle">{{usr.iam_a.slice(1)}}</div>
      <!-- <div *ngFor="let itm of createTempArray(usr.rate); let i = index">
        <img class="card-start" src="../../../assets/icon/17-Star_yellow.png" [style.right]="setPositionStart(i)">
      </div> -->
      <!-- <div class="card-ratings">({{usr.rates}} {{ 'DISCOVER.RatingTxt' | translate }})</div> -->
      <img class="card-like-dis" src="../../../assets/icon/18-Dislike.png" *ngIf="usr.status == statusUsrDicover.dislike || disLikeBtn">
      <img class="card-like-dis" src="../../../assets/icon/20-like_button_white.png" *ngIf="usr.status == statusUsrDicover.like || likeBtn">
    </ion-card>
  </div>

  <ion-grid fixed *ngIf="!noDiscoverFound">
    <ion-row class="row-btn ion-no-margin ion-no-padding">
      
      <ion-col size="4" class="ion-no-margin ion-no-padding">
        <img class="btn-big" src="../../../assets/icon/19-Dislike_button_grey.png" (click)="doDislike()">
      </ion-col>
      <ion-col size="4" class="ion-no-margin ion-no-padding">
        <img class="btn-small" src="../../../assets/icon/24-Refresh_button.png" (click)="returnDicover()"> <!-- (click)="reLoadDiscover()"> -->
      </ion-col>
      <ion-col size="4" class="ion-no-margin ion-no-padding">
        <img class="btn-big" src="../../../assets/icon/21-like_button_orage.png" (click)="doLike()">
      </ion-col>
      <!-- <ion-col size="2" class="ion-no-margin ion-no-padding">
        <img class="btn-small" src="../../../assets/icon/22-Favorite_button_grey.png" (click)="doSuperLike()">
      </ion-col> -->
    </ion-row>
  </ion-grid>

  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.8" [breakpoints]="[0, 0.8]" (willPresent)="onWillPresent()" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <div class="div-modal-g">
        <ion-header class="header-filter ion-no-border">
          <ion-toolbar color="blanco" mode="ios">
            <ion-title class="titleModal ">{{ 'DISCOVER.TitleFilter' | translate }}</ion-title>
            <ion-buttons class="clearModal" slot="end"  (click)="clearFilter()"> <!-- (click)="openMenuPopover( $event )"> -->
              {{ 'DISCOVER.ClearBtnFilter' | translate }}
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <div class="div-modal">
          <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
            <ion-list class="listModal ion-padding">
              <!-- <ion-row>
                <ion-col>
                  <h1 class="text-h1">{{ 'DISCOVER.Title_iam' | translate }}</h1>
                </ion-col>
              </ion-row>
              <ion-item lines="none" detail>
                <ion-select formControlName="iam_a" [interfaceOptions]="customIamOptions" interface="action-sheet" cancelText="Cancel">
                  <li *ngFor="let obj of iams">
                    <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
                  </li>
                </ion-select>
              </ion-item> -->
        
              <!-- <ion-row>
                <ion-col>
                  <h1 class="text-h1">{{ 'DISCOVER.Title_looking' | translate }}</h1>
                </ion-col>
              </ion-row>
              <ion-item lines="none" detail>
                <ion-select formControlName="iam_looking" [interfaceOptions]="customIamLookingOptions" interface="action-sheet" cancelText="Cancel">
                  <li *ngFor="let obj of iamlookings">
                    <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
                  </li>
                </ion-select>
              </ion-item> -->

              <ion-row>
                <ion-col size="10">
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Age' | translate }}</h1>
                </ion-col>
                <ion-col size="2">
                  <h1 class="text-h1-2">{{ this.age_between.value.lower }} - {{ this.age_between.value.upper }}</h1>
                </ion-col>
              </ion-row>
              <ion-range class="rangePersonal" formControlName="age_between" [dualKnobs]="true" min="18" max="100"></ion-range>
              <!-- <ion-item class="item-toggle" lines="none">
                <ion-label class="label">{{ 'DISCOVER.LabelageToggle' | translate }}</ion-label>
                <ion-toggle class="toggleChk" formControlName="ageToggle" (click)="onClickAgeToggle()"></ion-toggle>
              </ion-item> -->

              <ion-row>
                <ion-col size="10">
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Distancia' | translate }}</h1>
                </ion-col>
                <ion-col size="2">
                  <h1 class="text-h1-2">1 - {{ this.distance.value }}</h1>
                </ion-col>
              </ion-row>
              <ion-range class="rangePersonal" formControlName="distance" min="1" max="1000"></ion-range>
              
              <!-- <ion-item class="item-toggle" lines="none">
                <ion-label class="label">{{ 'DISCOVER.LabeldistToggle' | translate }}</ion-label>
                <ion-toggle class="toggleChk" formControlName="distanceToggle" (click)="onClickDisToggle()"></ion-toggle>
              </ion-item> -->

              <ion-row>
                <ion-col>
                  <h1 class="text-subtitle">{{ 'DISCOVER.SubTitle_Filter' | translate }}</h1>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="10">
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Height' | translate }}</h1>
                </ion-col>
                <ion-col size="2">
                  <h1 class="text-h1-2">{{ this.height.value.lower }} - {{ this.height.value.upper }}</h1>
                </ion-col>
              </ion-row>
              <ion-range class="rangePersonal" formControlName="height" [dualKnobs]="true" min="1" max="8"></ion-range>

              <ion-row>
                <ion-col>
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Exercise' | translate }}</h1>
                </ion-col>
              </ion-row>
              <ion-item lines="none" detail>
                <ion-select formControlName="exercise" [interfaceOptions]="customExerciseOptions" interface="action-sheet" cancelText="Cancel">
                  <li *ngFor="let obj of exercises">
                    <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
                  </li>
                </ion-select>
              </ion-item>

              <ion-row>
                <ion-col>
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Sing' | translate }}</h1>
                </ion-col>
              </ion-row>
              <ion-item lines="none" detail>
                <ion-select formControlName="sing" [interfaceOptions]="customSingOptions" interface="action-sheet" cancelText="Cancel">
                  <li *ngFor="let obj of sings">
                    <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
                  </li>
                </ion-select>
              </ion-item>

              <ion-row>
                <ion-col>
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Education' | translate }}</h1>
                </ion-col>
              </ion-row>
              <ion-item lines="none" detail>
                <ion-select formControlName="education" [interfaceOptions]="customEducationOptions" interface="action-sheet" cancelText="Cancel">
                  <li *ngFor="let obj of educations">
                    <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
                  </li>
                </ion-select>
              </ion-item>

              <ion-row>
                <ion-col>
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Drink' | translate }}</h1>
                </ion-col>
              </ion-row>
              <ion-item lines="none" detail>
                <ion-select formControlName="drink" [interfaceOptions]="customDrinkOptions" interface="action-sheet" cancelText="Cancel">
                  <li *ngFor="let obj of drinks">
                    <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
                  </li>
                </ion-select>
              </ion-item>

              <ion-row>
                <ion-col>
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Smok' | translate }}</h1>
                </ion-col>
              </ion-row>
              <ion-item lines="none" detail>
                <ion-select formControlName="smok" [interfaceOptions]="customSmokOptions" interface="action-sheet" cancelText="Cancel">
                  <li *ngFor="let obj of smoks">
                    <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
                  </li>
                </ion-select>
              </ion-item>

              <ion-row>
                <ion-col>
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Kid' | translate }}</h1>
                </ion-col>
              </ion-row>
              <ion-item lines="none" detail>
                <ion-select formControlName="kid" [interfaceOptions]="customKidOptions" interface="action-sheet" cancelText="Cancel">
                  <li *ngFor="let obj of kids">
                    <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
                  </li>
                </ion-select>
              </ion-item>

              <ion-row>
                <ion-col>
                  <h1 class="text-h1">{{ 'DISCOVER.Title_Religion' | translate }}</h1>
                </ion-col>
              </ion-row>
              <ion-item lines="none" detail>
                <ion-select formControlName="religion" [interfaceOptions]="customReligionOptions" interface="action-sheet" cancelText="Cancel">
                  <li *ngFor="let obj of religions">
                    <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
                  </li>
                </ion-select>
              </ion-item>


              <ion-row>
                <ion-button class="apply-Bt" color="primary1" type="submit">
                  {{ 'DISCOVER.btnApply' | translate }}
                </ion-button>
              </ion-row>

            </ion-list>
          </form>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  
</ion-content>
