<ion-header class="ion-no-border ion-padding" color="blanco" >
  <ion-toolbar color="blanco" >
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="settings-account" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="blanco ion-padding" fullscreen>
  <div id="sign-in-button"></div>
  <form [formGroup]="passwordForm" (ngSubmit)="next()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="title-h1">{{ 'CHANGE_PASS.TitleTxt' | translate }}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="text-p">{{ 'CHANGE_PASS.Text' | translate }}</p>
        </ion-col>
      </ion-row>

      <ion-row mode="md">
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'CHANGE_PASS.OldPassword' | translate }}</ion-label> 
            <ion-input class="camposLabel-CItem" formControlName="oldPassword" type="{{!this.passwordForm.get('viewOld').value ? 'password' : 'text'}}" inputmode="password"></ion-input>
            <ion-img class="img-view" slot="end" src="../../../../assets/icon/view.png" (click)="verContra('viewOld')"></ion-img>
          </ion-item>
          <div class="validation-errors" style="margin-top: 8px;" >
            <ng-container *ngFor="let validation of validation_messages.oldPassword">
              <div class="error-message" *ngIf="oldPassword.hasError(validation.type) && (oldPassword.dirty || oldPassword.touched)">
                <small class="error-message">{{ 'CHANGE_PASS.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row mode="md">
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'CHANGE_PASS.Password' | translate }}</ion-label> 
            <ion-input class="camposLabel-CItem" formControlName="password" type="{{!this.passwordForm.get('view').value ? 'password' : 'text'}}" inputmode="password"></ion-input>
            <ion-img class="img-view" slot="end" src="../../../../assets/icon/view.png" (click)="verContra('view')"></ion-img>
          </ion-item>
          <div class="validation-errors" style="margin-top: 8px;" >
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="password.hasError(validation.type) && (password.dirty || password.touched)">
                <small class="error-message">{{ 'CHANGE_PASS.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row mode="md">
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'CHANGE_PASS.Confirm' | translate }}</ion-label> 
            <ion-input class="camposLabel-CItem" formControlName="confirm" type="{{!this.passwordForm.get('viewC').value ? 'password' : 'text'}}" inputmode="password"></ion-input>
            <ion-img class="img-view" slot="end" src="../../../../assets/icon/view.png" (click)="verContra('viewC')"></ion-img>
          </ion-item>
          <div class="validation-errors" style="margin-top: 8px;" >
            <ng-container *ngFor="let validation of validation_messages.confirm">
              <div class="error-message" *ngIf="confirm.hasError(validation.type) && (confirm.dirty || confirm.touched)">
                <small class="error-message">{{ 'CHANGE_PASS.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-button class="next-Bt" color="primary1" type="submit">
          {{ 'CHANGE_PASS.btnNext' | translate }}
        </ion-button>
      </ion-row>  

    </ion-grid>

  </form>
</ion-content>
