ion-back-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-top: 20px;
}

.text-h1 {
    //display: flex;
    //justify-content: center;
    font-family: 'Sk-Modernist-Bold';
    font-size: 36px;
    margin-top: -10px;
    margin-bottom: 0px;
}
.image-col{
    position: relative;
}

.img-profile {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100px !important;
    margin: 50px auto 0;

    img{
        object-fit: cover;
        object-position: top;
    }
}

// .img-profile-user {
//     max-width: 80%;
//     max-height: 250px;
//     border-radius: 10px !important;

//     margin-top: 50px;
// }

// .img-camera {
//     width: 35px;
//     height: 35px;
//     position: absolute;
//     // margin-left: -28px;
//     // margin-bottom: -10px;
// }

.img-camera-default {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 5px;
    right: 110px;
    // margin-left: -35px;
    // margin-bottom: 5px;
}

ion-item {
    --background: var(--ion-color-blanco);
    --color: var(--ion-color-negro);
    --color-focused: var(--ion-color-negro);
    --border-width: 1px !important;
    --padding-top: 3px; 
    --padding-start: 0px;
    --highlight-color-invalid: none;
    --highlight-color-valid: none;
    --highlight-color-focused: none !important;

    &.item-shape-round {
        border-style: solid !important;
        border-width: 1px !important;
        border-radius: 15px !important; 
    }

}

ion-item::part(native) {
    border: none;
}

.item-highlight {
    border-width: 0px !important;
}

.camposLabel-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    
    &.label-floating {
        font-family: 'Sk-Modernist-Regular';
        font-size: 17px;
        color: var(--ion-color-negro) !important;
        max-width: fit-content !important;
        margin-top: -6px;
    }
}

.input-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 19px;
    //height: 20px !important;
}

.cal-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 13px;
    text-transform: none;
    width: 100%;
    height: 60px;
    --border-radius: 10px;
    --box-shadow:none;
}

.img-cal {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.date-cal {
    margin-left: auto;
    margin-right: 0;
}

/* ion-popover {
    --offset-y: -100px;
    --width: 335px;
} */

.modal-cal {
    --width: 400px;
}

.content-cal {
    .scroll-content {
        display: flex !important;
        align-items: center !important;
    }
}

ion-datetime {
    --background: var(--ion-color-blanco);
    font-family: 'Sk-Modernist-Bold';
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.title-cal {
    display: block;
    text-align: center;
    font-family: 'Sk-Modernist-Bold';
    font-size: 18px;
    color: var(--ion-color-negro);
}

.calInter-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 15px;
    text-transform: none;
    width: 100%;
    height: 60px;
    --border-radius: 10px;
    --box-shadow:none;

    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.next-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 15px;
    text-transform: none;
    width: 100%;
    height: 40px;
    --border-radius: 10px;
    --box-shadow:none;
   margin-top: 25px;
}

.gender-label{
    min-width: 80% !important;
}