<ion-header class="ion-no-border ion-padding" color="blanco" >
  <ion-toolbar color="blanco" >
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="login" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="blanco ion-padding" fullscreen>
  <div id="sign-in-button"></div>
  <form [formGroup]="passwordForm" (ngSubmit)="next()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="title-h1">{{ 'REC_PASS.TitleTxt' | translate }}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="text-p">{{ 'REC_PASS.Text' | translate }}</p>
        </ion-col>
      </ion-row>

       <ion-row mode="md">
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'REC_PASS.EmailLabel' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="email" type="text" inputmode="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button class="next-Bt" color="primary1" type="submit">
          {{ 'REC_PASS.btnNext' | translate }}
        </ion-button>
      </ion-row>  

    </ion-grid>

  </form>
</ion-content>
