.img-acc {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px;
}

.p-name {
    font-family: 'Sk-Modernist-Bold';
    font-size: 26px;
    margin: 0;
}

.row-btn {
    align-items: center;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 20px;
}

.btn-lat {
    width: 60px;
    height: 60px;
}

.btn-center {
    width: 90px;
    height: 90px;
}

.btn-title {
    font-family: 'Sk-Modernist-Regular';
    font-size: 14px;
    margin: 5px;
}

.txtTitle {
    font-family: 'Sk-Modernist-Bold';
    font-size: 16px;
    color: var(--ion-color-negro);
    margin-top: 30px;
    margin-bottom: 0;
}

.txtBody {
    font-family: 'Sk-Modernist-Regular';
    font-size: 14px;
    color: var(--ion-color-gris1);
    margin-top: 8px;
    margin-bottom: 0;
}

.DesA {
    font-family: 'Sk-Modernist-Bold';
    font-size: 14px;
    color: var(--ion-color-primary1);
    margin-top: 5px;
}

.img-col {
    text-align: center;
    align-content: center;
}

.imgGallery1 {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}