ion-header {
    background-color: var(--ion-color-blanco);
    margin-bottom: -30px;
}

.title_txt {
    font-family: 'Sk-Modernist-Bold';
    font-size: 18px;
}
.addphoto{
    margin-top: 20%;
}

.save-Bt {
    font-family: 'Sk-Modernist-Bold';
    font-size: 15px;
    color: var(--ion-color-primary1);
    text-transform: none;
}

.txtTitle {
    font-family: 'Sk-Modernist-Bold';
    font-size: 16px;
    color: var(--ion-color-negro);
    margin-bottom: 0;
}



.imgGallery1 {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.imgSelected{
    border: 2px solid var(--ion-color-primary1);
}

.checklist {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1; /* Para asegurar que esté encima de la imagen */
    --checkbox-background-checked: var(--ion-color-primary1);
    --border-color-checked: var(--ion-color-primary1);
}