<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover" [ngClass]="{'border-tab' : activeDiscover}" class="border-tab" (click)="changeIcon('discover')">
      <ion-img *ngIf="activeDiscover" src="../../../assets/icon/05-Discover_active.png"></ion-img>
      <ion-img *ngIf="!activeDiscover" src="../../../assets/icon/05-Discover.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="match" [ngClass]="{'border-tab' : activeMatch}" (click)="changeIcon('match')">
      <div class="red-dot" *ngIf="matchService.newMatch"></div>
      <ion-img *ngIf="activeMatch" src="../../../assets/icon/heart_active.png"></ion-img>
      <ion-img *ngIf="!activeMatch" src="../../../assets/icon/heart.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="experience" [ngClass]="{'border-tab' : activeExperience}" (click)="changeIcon('experience')">
      <ion-img *ngIf="activeExperience" src="../../../assets/icon/04-Experince_active.png"></ion-img>
      <ion-img *ngIf="!activeExperience" src="../../../assets/icon/04-Experince.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="message" [ngClass]="{'border-tab' : activeMessage}" (click)="changeIcon('message')">
      <ion-img *ngIf="activeMessage" src="../../../assets/icon/07-Messages_active.png"></ion-img>
      <ion-img *ngIf="!activeMessage" src="../../../assets/icon/07-Message.png"></ion-img>
      <div *ngIf="unreadMessages !== 0" class="numeroUnread">{{unreadMessages}}</div>
    </ion-tab-button>

    <ion-tab-button tab="account" [ngClass]="{'border-tab' : activeAccount}" (click)="changeIcon('account')">
      <ion-img *ngIf="activeAccount" src="../../../assets/icon/08-Account_active.png"></ion-img>
      <ion-img *ngIf="!activeAccount" src="../../../assets/icon/08-Account.png"></ion-img>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
