<ion-header class="ion-no-border ion-padding" color="blanco" *ngIf="!isEdit && isDefault">
  <ion-toolbar color="rgba(255,255,255,0)">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="detail-exp" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title class="titleCExp1" mode="ios">{{ 'NEW-EDIT-EXP.Title1' | translate }}</ion-title>
    <ion-title class="titleCExp2" mode="ios">{{ 'NEW-EDIT-EXP.Title2' | translate }}</ion-title>
  </ion-toolbar>

  <ion-row class="boxUpCover">
    <ion-col size="12">
      <p class="titleUpCover">{{ 'NEW-EDIT-EXP.TxtUpload' | translate }}</p>
      <img class="imgUpCover" src="../../../../assets/icon/10-Camera.png" (click)="onUploadImg()">
    </ion-col>
  </ion-row>
</ion-header>

<ion-header class="ion-no-border ion-padding" color="blanco" *ngIf="!isEdit && !isDefault">
  <div class="header-center-heigh" (click)="onUploadImg()">
    <img class="imgCover ion-no-padding" [src]="fileExperience">
  </div>
  <ion-toolbar color="rgba(255,255,255,0)" style="width: 60px;">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="main/tabs/experience" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border ion-padding" color="blanco" *ngIf="isEdit">
  <div class="header-center-heigh" (click)="onUploadImg()">
    <img class="imgCover ion-no-padding" [src]="fileExperience">
  </div>
  <ion-toolbar color="rgba(255,255,255,0)" style="width: 60px;">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="main/tabs/experience" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="blanco">
  <form [formGroup]="experienceForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="fieldTitle">{{ 'NEW-EDIT-EXP.ExpTitle' | translate }}</p>
          <ion-item shape="round" lines="none" mode="md">
            <ion-input class="input-CItem" formControlName="title" inputmode="text" required></ion-input>
          </ion-item>

          <div class="validation-errors" *ngIf = presentarErroresCampos>
            <ng-container *ngFor="let validation of validation_messages.title">
              <div class="error-message" *ngIf="title.hasError(validation.type) && (title.dirty || title.touched)">
                <small class="error-message">{{ 'NEW-EDIT-EXP.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="fieldTitle">{{ 'NEW-EDIT-EXP.ExpDescripcion' | translate }}</p>
          <ion-item shape="round" lines="none" mode="md">
            <ion-textarea class="input-CItem" formControlName="description" inputmode="text" required></ion-textarea>
          </ion-item>

          <div class="validation-errors" *ngIf = presentarErroresCampos>
            <ng-container *ngFor="let validation of validation_messages.description">
              <div class="error-message" *ngIf="description.hasError(validation.type) && (description.dirty || description.touched)">
                <small class="error-message">{{ 'NEW-EDIT-EXP.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="fieldTitle">{{ 'NEW-EDIT-EXP.ExpDate' | translate }}</p>
          <ion-button id="cal-trigger" class="cal-Bt"  color="blanco">
            <p class="date-cal">{{txtDate}}</p>
            <ion-img class="img-cal" slot="end" src="../../../../assets/icon/26-Calendar_black.png"></ion-img>
          </ion-button>

          <div class="validation-errors" *ngIf = presentarErroresCampos>
            <ng-container *ngFor="let validation of validation_messages.dateF">
              <div class="error-message" *ngIf="dateF.hasError(validation.type) && (dateF.dirty || dateF.touched)">
                <small class="error-message">{{ 'NEW-EDIT-EXP.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>      
      <ion-modal #modalC class="modal-cal" [initialBreakpoint]="0.6" [breakpoints]="[0.6, 0.6, 0.75]" trigger="cal-trigger">
        <ng-template>
          <ion-content class="content-cal">
            <ion-datetime
              formControlName="dateF"
              locale="{{ 'NEW-EDIT-EXP.lanCal' | translate }}"
              color="primary1"
              mode="ios"
            >
              <span class="title-cal" slot="title">{{ 'NEW-EDIT-EXP.TitleCal' | translate }}</span>
            </ion-datetime>
            <ion-button class="calInter-Bt" color="primary1" (click)="setDate()">{{ 'NEW-EDIT-EXP.btnSave' | translate }}</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-row>
        <ion-col>
          <p class="fieldTitle">{{ 'NEW-EDIT-EXP.ExpPrice' | translate }}</p>
          <ion-item shape="round" lines="none" mode="md">
            <ion-input class="input-CItem" formControlName="price" type="number" inputmode="numeric" required></ion-input>
          </ion-item>

          <div class="validation-errors" *ngIf = presentarErroresCampos>
            <ng-container *ngFor="let validation of validation_messages.location">
              <div class="error-message" *ngIf="location.hasError(validation.type) && (location.dirty || location.touched)">
                <small class="error-message">{{ 'NEW-EDIT-EXP.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="fieldTitle">{{ 'NEW-EDIT-EXP.ExpLocation' | translate }}</p>
          <ion-item shape="round" lines="none" mode="md">
            <ion-input id="loc-trigger" class="input-CItem" formControlName="location" inputmode="text" required></ion-input>
          </ion-item>

          <ion-modal #modalLoc class="modal-loc" [initialBreakpoint]="0.6" [breakpoints]="[0.6, 0.6, 0.75]" trigger="loc-trigger">
            <ng-template>
              <ion-content class="content-cal">
                <ion-row class="contenedorLoc">
                  <ion-col>
                    <p class="txtTitle">{{ 'EDIT-ACCOUNT.country' | translate }}</p>
                  </ion-col>
                </ion-row>
                <ion-item shape="round" class="ion-item-select contenedorLoc" lines="none" detail>
                  <ion-select formControlName="country" [interfaceOptions]="customCountryOptions" interface="action-sheet" cancelText="Cancel" (ionChange)="selectCountry()">
                    <li *ngFor="let obj of countries">
                      <ion-select-option [value]="obj.id">{{ obj.country }}</ion-select-option>
                    </li>
                  </ion-select>
                </ion-item>
                <ion-row class="contenedorLoc">
                  <ion-col>
                    <p class="txtTitle">{{ 'EDIT-ACCOUNT.state' | translate }}</p>
                  </ion-col>
                </ion-row>
                <ion-item shape="round" class="ion-item-select contenedorLoc" lines="none" detail>
                  <ion-select formControlName="state" [interfaceOptions]="customStateOptions" interface="action-sheet" cancelText="Cancel" (ionChange)="selectState()">
                    <li *ngFor="let obj of states">
                      <ion-select-option [value]="obj.id">{{ obj.state }}</ion-select-option>
                    </li>
                  </ion-select>
                </ion-item>
                <ion-row class="contenedorLoc">
                  <ion-col>
                    <p class="txtTitle">{{ 'EDIT-ACCOUNT.city' | translate }}</p>
                  </ion-col>
                </ion-row>
                <ion-item shape="round" class="ion-item-select contenedorLoc" lines="none" detail>
                  <ion-select formControlName="city" [interfaceOptions]="customCityOptions" interface="action-sheet" cancelText="Cancel">
                    <li *ngFor="let obj of cities">
                      <ion-select-option [value]="obj.id">{{ obj.city }}</ion-select-option>
                    </li>
                  </ion-select>
                </ion-item>
                <ion-button class="calInter-Bt" color="blanco"  color="primary1" (click)="locationChange()">{{ 'EDIT-ACCOUNT.btnSave' | translate }}</ion-button>
              </ion-content>
            </ng-template>
          </ion-modal>

          <div class="validation-errors" *ngIf = presentarErroresCampos>
            <ng-container *ngFor="let validation of validation_messages.location">
              <div class="error-message" *ngIf="location.hasError(validation.type) && (location.dirty || location.touched)">
                <small class="error-message">{{ 'NEW-EDIT-EXP.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="fieldTitle">{{ 'NEW-EDIT-EXP.NoPeople' | translate }}</p>
          <ion-item shape="round" lines="none" mode="md">
            <ion-input class="input-CItem" formControlName="nopeople" type="number" inputmode="numeric" required></ion-input>
          </ion-item>

          <div class="validation-errors" *ngIf = presentarErroresCampos>
            <ng-container *ngFor="let validation of validation_messages.nopeople">
              <div class="error-message" *ngIf="nopeople.hasError(validation.type) && (nopeople.dirty || nopeople.touched)">
                <small class="error-message">{{ 'NEW-EDIT-EXP.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="fieldTitle">{{ 'NEW-EDIT-EXP.Category' | translate }}</p>
          <ion-input class="input-CItem" formControlName="category" inputmode="text" hidden required style="display: none;"></ion-input>
          <ion-toolbar class="toolbarCategory" mode="ios">
            <ion-segment (ionChange)="optionSelected($event)" swipe-gesture="false" [value]="catSelected">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-segment-button *ngFor="let op of experienceCat" value={{op.id}}>
                    <ion-label>{{ op.name }}</ion-label>
                  </ion-segment-button>
                </ion-row>
              </ion-grid>
            </ion-segment>
          </ion-toolbar>

          <div class="validation-errors" *ngIf = presentarErroresCampos>
            <ng-container *ngFor="let validation of validation_messages.category">
              <div class="error-message" *ngIf="category.hasError(validation.type) && (category.dirty || category.touched)">
                <small class="error-message">{{ 'NEW-EDIT-EXP.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class="submit-Bt" color="primary1" type="submit">
            {{ 'NEW-EDIT-EXP.btnSubmit' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>


</ion-content>
