<ion-header class="ion-no-border ion-padding" color="blanco" *ngIf = !banEdit>
  <ion-toolbar color="blanco" >
    <ion-buttons slot="end">
      <ion-button class="skip-Bt" (click)="next('skip')" defaultHref="profile-details">{{ 'ABOUT-ME.AboutTxt' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border ion-padding" color="blanco"  *ngIf = banEdit>
  <ion-toolbar color="blanco" >
    <ion-buttons slot="start">
       <ion-icon name="chevron-back-outline"  (click)="next('next')"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="save-Bt" (click)="next('next')">{{ 'ABOUT-ME.SaveTxt' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="blanco ion-padding" fullscreen>
  <form [formGroup]="aboutMeForm" (ngSubmit)="next('skip')">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="text-h1">{{ 'ABOUT-ME.Title' | translate }}</h1>
        </ion-col>
      </ion-row>

      <ion-list style="margin-top: 30px;">
        <!-- <ion-item lines="none" detail *ngIf="pageid == 'regview'">
          <ion-icon slot="start" name="transgender-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Gender' | translate }}*</ion-label>
          <ion-select formControlName="gender_S" [interfaceOptions]="customGenderOptions" interface="action-sheet" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}"  cancelText="Cancel">
            <li *ngFor="let obj of genders">
              <ion-select-option [value]="obj.name">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item> -->
        <ion-item lines="none" detail (click)="presentPicker()">
          <ion-icon slot="start" name="arrow-up-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Height' | translate }}</ion-label>
          <ion-label [class]="styleLabelData" slot="end" text-wrap>{{phHeight}}</ion-label>
          <!-- <ion-input type="number" placeholder="Awesome Input"></ion-input> -->
        </ion-item>

        

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="information-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Pronoun' | translate }}</ion-label>
          <ion-select formControlName="pronoun_S" [interfaceOptions]="customPronounOptions" interface="action-sheet" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel">
            <li *ngFor="let obj of pronouns">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="school-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Education' | translate }}</ion-label>
          <ion-select formControlName="education_S" [interfaceOptions]="customEducationOptions" interface="action-sheet" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel">
            <li *ngFor="let obj of educations">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="language-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Languaje' | translate }}</ion-label>
          <ion-select formControlName="languaje_S" [interfaceOptions]="customLanguajeOptions" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel" [multiple]="true">
            <li *ngFor="let obj of languajes">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="planet-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Sing' | translate }}</ion-label>
          <ion-select formControlName="sing_S" [interfaceOptions]="customSingOptions" interface="action-sheet" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel">
            <li *ngFor="let obj of sings">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="football-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Exercise' | translate }}</ion-label>
          <ion-select formControlName="exercise_S" [interfaceOptions]="customExerciseOptions" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel" [multiple]="true">
            <li *ngFor="let obj of exercises">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="game-controller-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Hobby' | translate }}</ion-label>
          <ion-select formControlName="hobby_S" [interfaceOptions]="customHobbyOptions" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel" [multiple]="true">
            <li *ngFor="let obj of hobbies">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <!-- <ion-item lines="none" detail>
          <ion-icon slot="start" name="happy-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Kid' | translate }}</ion-label>
          <ion-select formControlName="kid_S" [interfaceOptions]="customKidOptions" interface="action-sheet" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel">
            <li *ngFor="let obj of kids">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item> -->

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="paw-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Pet' | translate }}</ion-label>
          <ion-select formControlName="pet_S" [interfaceOptions]="customPetOptions" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel" [multiple]="true">
            <li *ngFor="let obj of pets">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="shield-checkmark-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.valTrait' | translate }}</ion-label>
          <ion-select formControlName="valTrait_S" [interfaceOptions]="customValTraitOptions" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel" [multiple]="true">
            <li *ngFor="let obj of valTraits">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="wine-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Drink' | translate }}</ion-label>
          <ion-select formControlName="drink_S" [interfaceOptions]="customDrinkOptions" interface="action-sheet" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel">
            <li *ngFor="let obj of drinks">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="color-wand-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Smok' | translate }}</ion-label>
          <ion-select formControlName="smok_S" [interfaceOptions]="customSmokOptions" interface="action-sheet" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel">
            <li *ngFor="let obj of smoks">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="sparkles-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Drug' | translate }}</ion-label>
          <ion-select formControlName="drug_S" [interfaceOptions]="customDrugOptions" interface="action-sheet" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel">
            <li *ngFor="let obj of drugs">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="infinite-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Religion' | translate }}</ion-label>
          <ion-select formControlName="religion_S" [interfaceOptions]="customReligionOptions" interface="action-sheet" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel">
            <li *ngFor="let obj of religions">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>

        <ion-item lines="none" detail>
          <ion-icon slot="start" name="library-outline"> </ion-icon>
          <ion-label text-wrap>{{ 'ABOUT-ME.Political' | translate }}</ion-label>
          <ion-select formControlName="political_S" [interfaceOptions]="customPoliticalOptions" interface="action-sheet" placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel">
            <li *ngFor="let obj of politicals">
              <ion-select-option [value]="obj.id">{{ obj.name }}</ion-select-option>
            </li>
          </ion-select>
        </ion-item>


      </ion-list>

      <ion-row *ngIf = !banEdit>
        <ion-button class="next-Bt" color="primary1" type="submit">
          {{ 'ABOUT-ME.btnNext' | translate }}
        </ion-button>
      </ion-row>

    </ion-grid>
  </form>


</ion-content>
