ion-back-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-top: 20px;
}

ion-avatar { 
    width: 100px;  
    height: 100px;
    margin: 0 auto;
}

.img-avatar {
    border: 2px solid var(--ion-color-primary1) !important;
}

.txtName {
    font-family: 'Sk-Modernist-Bold';
    font-size: 24px;
    color: var(--ion-color-negro);
    margin: 0;
}

.txtFecha {
    font-family: "Sk-Modernist-Regular";
    font-size: 14px;
    color: var(--ion-color-negro);
    margin-top: 0;
    margin-bottom: 5px;
}

.fieldTitle {
    font-family: 'Sk-Modernist-Bold';
    font-size: 16px;
    color: var(--ion-color-negro);
    margin-top: 20px;
}

ion-item {
    --background: var(--ion-color-blanco);
    --color: var(--ion-color-negro);
    --color-focused: var(--ion-color-negro);
    --border-width: 1px !important;
    --padding-top: 3px;
    margin-top: 15px;
    --highlight-color-invalid: none;
    --highlight-color-valid: none;
    --highlight-color-focused: none !important;
    height: 170px;

    &.item-shape-round {
        border-style: solid !important;
        border-width: 1px !important;
        border-radius: 10px !important; 
    }
}

ion-item::part(native) {
    border: none;
}

.item-highlight {
    border-width: 0px !important;
}

.input-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
}

.submit-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 14px;
    text-transform: none;
    height: 60px;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 15px;
    --box-shadow: none;
    margin-top: 80px;
}