<ion-header class="ion-no-border ion-padding" color="blanco" >
  <ion-toolbar color="blanco" >
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="profile-details" mode="md"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button class="skip-Bt" (click)="next('skip')" defaultHref="profile-details">Skip</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content color="blanco ion-padding" fullscreen>
  <!-- <form [formGroup]="locationForm" (ngSubmit)="next('next')"> -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="text-h1">{{ 'LOCATION.Title' | translate }}</h1>
        </ion-col>
      </ion-row>
    

      <ion-row>
        <ion-col>
          <ion-item id="open-country" class="campoItem"  lines="none" detail>
            <ion-label>{{country}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- <ion-modal #mCountry trigger="open-country" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content>
            <ion-searchbar placeholder="{{ 'LOCATION.SearchC' | translate }}" (click)="mCountry.setCurrentBreakpoint(0.75)" (ionChange)="searchCountry($event)"></ion-searchbar>
            <ion-list>
              <ion-item *ngFor="let obj of countries | filterSearch:countryBuscar:'country'" (click)="selectCountry(obj.id, obj.country)">
                <ion-label>{{obj.country}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal> -->

      <ion-row>
        <ion-col>
          <ion-item class="campoItem"  lines="none" detail>
            <ion-label>{{state}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- <ion-modal #mState [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content>
            <ion-searchbar placeholder="{{ 'LOCATION.SearchS' | translate }}" (click)="mState.setCurrentBreakpoint(0.75)" (ionChange)="searchState($event)"></ion-searchbar>
            <ion-list>
              <ion-item *ngFor="let obj of states | filterSearch:stateBuscar:'state'" (click)="selectState(obj)">
                <ion-label>{{obj.state}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal> -->

      <ion-row>
        <ion-col>
          <ion-item class="campoItem"  lines="none" detail>
            <ion-label>{{city}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- <div *ngIf="idState != ''"> -->
      <!-- <ion-modal #mCity [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content>
            <ion-searchbar placeholder="{{ 'LOCATION.SearchCt' | translate }}" (click)="mCity.setCurrentBreakpoint(0.75)" (ionChange)="searchCity($event)"></ion-searchbar>
            <ion-list>
              <ion-item *ngFor="let obj of cities | filterSearch:cityBuscar:'city'" (click)="selectCity(obj.id, obj.city)">
                <ion-label>{{obj.city}}</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal> -->
      <!-- </div> -->

      <ion-row>
        <ion-button class="next-Bt" color="primary1" (click)="next('next')">
          {{ 'LOCATION.btnNext' | translate }}
        </ion-button>
      </ion-row>

    </ion-grid>
  <!-- </form> -->

</ion-content>