<ion-header class="ion-no-border ion-padding" color="blanco" >
  <ion-toolbar color="blanco" >
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline"  (click)="save()"></ion-icon>
    </ion-buttons>
    <ion-title class="title_txt" mode="ios">{{ 'EDIT-ACCOUNT.TitleTxt' | translate }}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button class="save-Bt" (click)="save()">{{ 'EDIT-ACCOUNT.SaveTxt' | translate }}</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="blanco ion-padding" fullscreen>
  <form [formGroup]="editAccountForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="txtTitle">{{ 'EDIT-ACCOUNT.TitlePhoto' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-item lines="none" detail (click)="setPhotoPrfile()">
        <ion-label text-wrap>{{ 'EDIT-ACCOUNT.PhotoText' | translate }}</ion-label>
        <ion-label class="detailText" slot="end" text-wrap>{{ 'EDIT-ACCOUNT.ChangeText' | translate }}</ion-label>
      </ion-item>

      <ion-row>
        <ion-col>
          <p class="txtTitle">{{ 'EDIT-ACCOUNT.TitleLocation' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-item lines="none">
        <ion-label class="label">{{ 'EDIT-ACCOUNT.LabelLocGPS' | translate }}</ion-label>
        <ion-toggle class="toggleChk" formControlName="locGPSToggle"></ion-toggle>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'EDIT-ACCOUNT.LocationField' | translate }}</ion-label> 
            <ion-input id="loc-trigger" class="input-CItem" [value]="location.value" type="text" inputmode="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-modal #modalLoc class="modal-loc" [initialBreakpoint]="0.6" [breakpoints]="[0.6, 0.6, 0.75]" trigger="loc-trigger">
        <ng-template>
          <ion-content class="content-cal">
            <ion-row class="contenedorLoc">
              <ion-col>
                <p class="txtTitle">{{ 'EDIT-ACCOUNT.country' | translate }}</p>
              </ion-col>
            </ion-row>
            <ion-item class="ion-item-select contenedorLoc" lines="none" detail>
              <ion-select formControlName="country" [interfaceOptions]="customCountryOptions" interface="action-sheet" cancelText="Cancel" (ionChange)="selectCountry()">
                <li *ngFor="let obj of countries">
                  <ion-select-option [value]="obj.id">{{ obj.country }}</ion-select-option>
                </li>
              </ion-select>
            </ion-item>
            <ion-row class="contenedorLoc">
              <ion-col>
                <p class="txtTitle">{{ 'EDIT-ACCOUNT.state' | translate }}</p>
              </ion-col>
            </ion-row>
            <ion-item class="ion-item-select contenedorLoc" lines="none" detail>
              <ion-select formControlName="state" [interfaceOptions]="customStateOptions" interface="action-sheet" cancelText="Cancel" (ionChange)="selectState()">
                <li *ngFor="let obj of states">
                  <ion-select-option [value]="obj.id">{{ obj.state }}</ion-select-option>
                </li>
              </ion-select>
            </ion-item>
            <ion-row class="contenedorLoc">
              <ion-col>
                <p class="txtTitle">{{ 'EDIT-ACCOUNT.city' | translate }}</p>
              </ion-col>
            </ion-row>
            <ion-item class="ion-item-select contenedorLoc" lines="none" detail>
              <ion-select formControlName="city" [interfaceOptions]="customCityOptions" interface="action-sheet" cancelText="Cancel">
                <li *ngFor="let obj of cities">
                  <ion-select-option [value]="obj.id">{{ obj.city }}</ion-select-option>
                </li>
              </ion-select>
            </ion-item>
            <ion-button class="calInter-Bt" color="blanco"  color="primary1" (click)="locationChange()">{{ 'EDIT-ACCOUNT.btnSave' | translate }}</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-row>
        <ion-col>
          <p class="txtTitle">{{ 'EDIT-ACCOUNT.TitleProfile' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'EDIT-ACCOUNT.FName' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="fname" type="text" inputmode="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'EDIT-ACCOUNT.LName' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="lname" type="text" inputmode="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
       <!-- <ion-row>
        <ion-col>
          <p class="txtTitle">{{ 'ABOUT-ME.Gender' | translate }}*</p>
        </ion-col>
      </ion-row>
         <ion-item detail class="item-field" fill="outline" shape="round" lines="none" mode="md">
               
              <ion-select formControlName="gender_S" [interfaceOptions]="customGenderOptions" interface="action-sheet"
                placeholder="{{ 'ABOUT-ME.Gral_ph' | translate }}" cancelText="Cancel">
                  <ion-select-option  *ngFor="let obj of genders" [value]="obj.id">{{ obj.name }}</ion-select-option>
              </ion-select>
            </ion-item> -->
     
      <ion-row> 
        <ion-col>
          <p class="txtTitle">{{ 'EDIT-ACCOUNT.Title_iam' | translate }}*</p>
        </ion-col>
      </ion-row>
      <ion-item class="ion-item-select" lines="none" detail>
        <ion-select formControlName="iam_a" [interfaceOptions]="customIamOptions" interface="action-sheet" cancelText="Cancel">
          <li *ngFor="let obj of iams">
            <ion-select-option [value]="obj.id">{{ obj.name.slice(1) }}</ion-select-option>
          </li>
        </ion-select>
      </ion-item>

      <ion-row>
        <ion-col>
          <p class="txtTitle">{{ 'EDIT-ACCOUNT.Title_iam_a_looking_for' | translate }}*</p>
        </ion-col>
      </ion-row>
      <ion-item class="ion-item-select" lines="none" detail>
        <ion-select formControlName="iam_looking"  [interfaceOptions]="customiam_lookingOptions" interface="action-sheet" cancelText="Cancel">
          <li *ngFor="let obj of iamlookings">
            <ion-select-option [value]="obj.id">{{ obj.name.slice(1) }}</ion-select-option>
          </li>
        </ion-select>
      </ion-item>
      
      <!-- <ion-row>
        <ion-col>
          <ion-button id="cal-trigger" class="cal-Bt"  color="primary1">
            <ion-img class="img-cal" slot="start" src="../../../../assets/icon/11-Calendar_white.png"></ion-img>
            <p class="text-cal">{{ 'EDIT-ACCOUNT.TextCalBtn' | translate }}</p>
            <p class="date-cal">{{txtBirthDay}}</p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-modal #modalC class="modal-cal" [initialBreakpoint]="0.6" [breakpoints]="[0.6, 0.6, 0.75]" trigger="cal-trigger">
        <ng-template>
          <ion-content class="content-cal">
            <ion-datetime
              presentation="date"
              formControlName="bday"
              locale="{{ 'EDIT-ACCOUNT.lanCal' | translate }}"
              color="primary1"
              mode="ios"
            >
              <span class="title-cal" slot="title">{{ 'EDIT-ACCOUNT.TitleCal' | translate }}</span>
            </ion-datetime>
            <ion-button class="calInter-Bt" color="blanco"  color="primary1" (click)="setBirthday()">{{ 'EDIT-ACCOUNT.btnSave' | translate }}</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal> -->
      
      <ion-row>
        <ion-col>
          <p class="txtTitle">{{ 'EDIT-ACCOUNT.TitleBio' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-item class="ion-item-long" shape="round" lines="none" mode="md">
        <ion-textarea class="input-CItem" formControlName="bio" inputmode="text" maxlength="500" rows="6" ></ion-textarea>
      </ion-item>

      <ion-row>
        <ion-col>
          <p class="txtTitle">{{ 'EDIT-ACCOUNT.TitleEducation' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'EDIT-ACCOUNT.School' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="school" type="text" inputmode="text" ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'EDIT-ACCOUNT.YearSchool' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="yearSchool" type="number" inputmode="numeric" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="txtTitle">{{ 'EDIT-ACCOUNT.TitleWork' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'EDIT-ACCOUNT.WorkTitle' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="workTitle" type="text" inputmode="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'EDIT-ACCOUNT.WorkCo' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="workCo" type="text" inputmode="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="txtTitle">{{ 'EDIT-ACCOUNT.TitleMore' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-item lines="none" detail (click)="aboutMe()">
        <ion-label text-wrap>{{ 'EDIT-ACCOUNT.AboutMeText' | translate }}</ion-label>
        <ion-label class="detailText" slot="end" text-wrap>{{ 'EDIT-ACCOUNT.ChangeText' | translate }}</ion-label>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'EDIT-ACCOUNT.Hometown' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="hometown" type="text" inputmode="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="item-field" fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'EDIT-ACCOUNT.Ethnicity' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="ethnicity" type="text" inputmode="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


    </ion-grid>
  </form>
</ion-content>
