ion-header {
    background-color: var(--ion-color-gris2);
    // height: 40%;
    height: 32%;
}

.header-center-heigh{
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

ion-back-button {
    // border-style: solid;
    // border-width: 1px;
    // border-radius: 15px;
    // margin-top: 20px;

    font-size: 18px;
    background: var(--ion-color-blanco);
    height: 48px;
    width: 50px;
    color: var(--ion-color-negro);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-top: 20px;
}

.imgCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    //position: fixed;
    // max-width: 100%;
    // max-height: 100%;
    //margin-left: -16px;
    //margin-top: -29px;
}

.titleCExp1 {
    font-family: 'Sk-Modernist-Bold';
    font-size: 22px;
}

.titleCExp2 {
    font-family: 'Sk-Modernist-Bold';
    font-size: 22px;
    margin-top: 22px;
}

.boxUpCover {
    background: linear-gradient(to right, white 60%, var(--ion-color-gris2) 0%), linear-gradient(white 60%, var(--ion-color-gris2) 0%), linear-gradient(to right, white 60%, var(--ion-color-gris2) 0%), linear-gradient(white 60%, var(--ion-color-gris2) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 10px 1px, 1px 10px;
    border-radius: 10px;
    height: 45%;
    width: 100%;
    display: flex;
    align-content: center;
    text-align: center;
    margin-top: 12%;
}

.titleUpCover {
    font-family: 'Sk-Modernist-Regular';
    font-size: 15px;
}

.imgUpCover {
    width: 35px;
}

.fieldTitle {
    font-family: 'Sk-Modernist-Bold';
    font-size: 16px;
    color: var(--ion-color-negro);
    margin: 0;
}

ion-item {
    --background: var(--ion-color-blanco);
    --color: var(--ion-color-negro);
    --color-focused: var(--ion-color-negro);
    --border-width: 1px !important;
    --padding-top: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    --highlight-color-invalid: none;
    --highlight-color-valid: none;
    --highlight-color-focused: none !important;
    //height: 50px;

    &.item-shape-round {
        border-style: solid !important;
        border-width: 1px !important;
        border-radius: 15px !important; 
    }
}

ion-item::part(native) {
    border: none;
}

.item-highlight {
    border-width: 0px !important;
}

.camposLabel-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    
    &.label-floating {
        font-family: 'Sk-Modernist-Regular';
        font-size: 17px;
        color: var(--ion-color-negro) !important;
        max-width: fit-content !important;
        margin-top: -6px;
    }
}

.input-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 19px;
    //height: 20px !important;
}

.cal-Bt {
    display: block;
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    text-transform: none;
    width: 100%;
    height: 60px;
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 15px;
    --box-shadow:none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img-cal {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.date-cal {
    margin-left: 0;
    margin-right: auto;
}

.modal-cal {
    --width: 400px;
}

.content-cal {
    .scroll-content {
        display: flex !important;
        align-items: center !important;
    }
}

ion-datetime {
    --background: var(--ion-color-blanco);
    font-family: 'Sk-Modernist-Bold';
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.title-cal {
    display: block;
    text-align: center;
    font-family: 'Sk-Modernist-Bold';
    font-size: 18px;
    color: var(--ion-color-negro);
}

.calInter-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 15px;
    text-transform: none;
    width: 100%;
    height: 60px;
    --border-radius: 10px;
    --box-shadow:none;

    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.toolbarCategory {
    --background: var(--ion-color-blanco);
    padding: 0;
    margin-top: 10px;
}

ion-segment {
    --background: var(--ion-color-blanco);

    &::-webkit-scrollbar {
        display: none;
    }
}

ion-segment-button {
    border-style: solid;
    --color: var(--ion-color-gris1);
    --color-checked: var(--ion-color-blanco) !important;
    --indicator-color: var(--ion-color-primary1);
    --border-radius:20px;
    --border-color: none;
    min-width: auto;
    margin-right: 10px;
}

ion-label {
    font-family: 'Sk-Modernist-Bold';
}


.error-message {
    font-family: 'Sk-Modernist-Regular';
    font-size: 10px;
    line-height: .5;
}

.submit-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 15px;
    text-transform: none;
    width: 100%;
    height: 50px;
    --border-radius: 15px;
    --box-shadow:none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.ion-item-select {
    --background: var(--ion-color-blanco) !important;
    --color: var(--ion-color-negro) !important;
    --color-focused: var(--ion-color-negro) !important;
    --border-width: 1px !important;
    --border-radius: 15px !important;
    --border-color: var(--ion-color-negro) !important;
    //--padding-bottom: 0px; 
    --padding-start: 15px !important;
    --highlight-color-invalid: none !important;
    --highlight-color-valid: none !important;
    --highlight-color-focused: none !important;
    /* margin-top: 30px;
    margin-bottom: 70px; */
}

ion-select {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    --padding-end: 0px;
}

.txtTitle {
    font-family: 'Sk-Modernist-Bold';
    font-size: 16px;
    color: var(--ion-color-negro);
    margin-bottom: 0;
}

ion-select::part(icon) {
    display: none !important;
}

.contenedorLoc{
    margin-left: 20px;
    margin-right: 20px;
}

.content-cal {
    .scroll-content {
        display: flex !important;
        align-items: center !important;
    }
}