<ion-header class="ion-no-border ion-padding" color="blanco" >
  <ion-toolbar color="blanco" >
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="registry" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="blanco" fullscreen>
  <form [formGroup]="myMobileForm" (ngSubmit)="next()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="title-h1">{{ 'MY-MOBILE.Title' | translate }}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <p class="text-p">{{ 'MY-MOBILE.Text' | translate }}</p>
        </ion-col>
      </ion-row>
      
      <!-- <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-intl-tel-input
                inputPlaceholder="{{ 'MY-MOBILE.phMobile' | translate }}"  
                [defaultCountryiso]="contryISO"
                modalTitle = "{{'MY-MOBILE.ccTitle' | translate}}"
                modalSearchPlaceholder = "{{'MY-MOBILE.ccSearchPH' | translate}}"
                modalCloseText = "{{'MY-MOBILE.ccCloseTxt' | translate}}"
                formControlName="mobile" >
            </ion-intl-tel-input>
          </ion-item>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="4.5" class="ion-no-padding">
          <ion-item class="item-code" [button]="true" detail="true" detail-icon="caret-down-outline" id="select-codePhone" lines="none" mode="md">
            <span [class]="'flag-icon-my fi fi-'+selectedCodeCountry.toLowerCase()"> </span>
            <p class="txt-code">{{ selectedCodePhone }}</p>
          </ion-item>
        </ion-col>
        <ion-col size="7.5" class="ion-no-padding" style="padding-left: 5px;">
          <ion-item  lines="none">
            <ion-input formControlName="mobile" nputmode="numeric" type="tel" minlength="7" maxlength="13" mode="md" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-modal trigger="select-codePhone" #modal>
        <ng-template>
          <app-codes-phone-head
            class="ion-page"
            title="{{'MY-MOBILE.ccTitle' | translate}}"
            phSearch="{{'MY-MOBILE.ccSearchPH' | translate}}"
            btnCancel="{{'MY-MOBILE.ccCloseTxt' | translate}}"
            [items]="codesPhone"
            [selectedItems]="selectedCodeCountry"
            (selectionChange)="codePhoneSelectionChanged($event)"
            (selectionCancel)="modal.dismiss()"
          ></app-codes-phone-head>
        </ng-template>
      </ion-modal>

      <ion-row>
        <ion-button class="next-Bt" color="primary1" type="submit">
          {{ 'MY-MOBILE.btnNext' | translate }}
        </ion-button>
      </ion-row>

    </ion-grid>

  </form>

</ion-content>
