ion-content {
    --padding-top: 15%;
    --padding-start: 5%;
    --padding-end: 5%;
    --padding-bottom: 5%;
}

.singIn-Bt {
    font-family: 'Sk-Modernist-Regular';
    font-size: 15px;
    text-transform: none;
    width: 90px;
    --border-style: solid;
    --border-width: 1px;
    --border-color: var(--ion-color-negro);
    --border-radius: 25px;
    --box-shadow:none;
    margin-left: auto;
    margin-right: 0px;
}

.logoImg {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.welcome-h11 {
    font-family: 'Sk-Modernist-Bold';
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.welcome-h12 {
    font-family: 'Sk-Modernist-Regular';
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: -10px;
}

ion-item {
    --background: var(--ion-color-blanco);
    --color: var(--ion-color-negro);
    --color-focused: var(--ion-color-negro);
    --border-width: 1px !important;
    --padding-top: 3px; 
    --padding-start: 0px;
    --highlight-color-invalid: none;
    --highlight-color-valid: none;
    --highlight-color-focused: none !important;

    &.item-shape-round {
        border-style: solid !important;
        border-width: 1px !important;
        border-radius: 15px !important; 
    }

}

ion-item::part(native) {
    border: none;
}

.item-highlight {
    border-width: 0px !important;
}

//CAMPOS CON ION-ITEM
.camposLabel-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    
    &.label-floating {
        font-family: 'Sk-Modernist-Regular';
        font-size: 17px;
        color: var(--ion-color-negro) !important;
        max-width: fit-content !important;
        margin-top: -6px;
    }
}

.input-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 19px;
    //height: 20px !important;
}

hr {
    height: 0.1px;
    width: 100%;
    background: var(--ion-color-negro);
    margin-top: 35px;
    margin-left: auto;
}

.OrSingIn-P {
    display: block;
    font-family: 'Sk-Modernist-Regular';
    font-size: 12px;
    text-align: center;
    width:fit-content;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--ion-color-blanco);
}

.singInF-Bt {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: 10px;
}

.singInG-Bt {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: 20px; //auto
}

.singInA-Bt {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 20px; //10px
    margin-right: auto;
}

.TermTxt-P {
    display: block;
    font-family: 'Sk-Modernist-Regular';
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--ion-color-blanco);
}

.TermTxtLink-P {
    display: block;
    font-family: 'Sk-Modernist-Regular';
    font-size: 12px;
    text-align: center;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--ion-color-blanco);
}

.create-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 15px;
    text-transform: none;
    width: 100%;
    height: 40px;
    --border-radius: 10px;
    --box-shadow:none;
    //margin-top: -5px;
}

.label_ver {
    font-family: 'Sk-Modernist-Regular';
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: var(--ion-color-negro); 
}

.error-message {
    font-family: 'Sk-Modernist-Regular';
    font-size: 12px;
    line-height: 1.5;
}

.img-view{
    width: 39px;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
}