<ion-content color="blanco" fullscreen>

  <form [formGroup]="registryForm" (ngSubmit)="create()">
    <ion-grid>
      <ion-row>
        <ion-button class="singIn-Bt" color="blanco" [routerLink]="['/login']">
          {{ 'REGISTRY.btnSingIn' | translate }}
        </ion-button>
      </ion-row>

      <ion-row>
        <ion-col>
          <div><img class="logoImg" src="../../../../assets/logoApp.jpg"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="welcome-h11">{{ 'REGISTRY.WelcomeTxt1' | translate }}</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1 class="welcome-h12">{{ 'REGISTRY.WelcomeTxt2' | translate }}</h1>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 20px;">
        <ion-col>
          <ion-item fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'REGISTRY.EmailLabel' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="email" type="email" inputmode="email" required></ion-input>
          </ion-item>
          <div class="validation-errors" style="margin-top: 8px; margin-bottom: 5px;" *ngIf = presentarErroresCampos>
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="email.hasError(validation.type) && (email.dirty || email.touched)">
                <small class="error-message">{{ 'REGISTRY.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item fill="outline" shape="round" lines="none" mode="md">
            <ion-label class="camposLabel-CItem" position="floating">{{ 'REGISTRY.PasswordLabel' | translate }}</ion-label> 
            <ion-input class="input-CItem" formControlName="password" type="{{!view ? 'password' : 'text'}}" required></ion-input>
            <ion-img class="img-view" slot="end" src="../../../../assets/icon/view.png" (click)="verContra()"></ion-img>
          </ion-item>
          <div class="validation-errors" style="margin-top: 8px;" *ngIf = presentarErroresCampos>
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="password.hasError(validation.type) && (password.dirty || password.touched)">
                <small class="error-message">{{ 'REGISTRY.'+validation.message | translate }}</small>
              </div>
            </ng-container>
          </div>
          <!-- <ion-item >
            <ion-label >{{ 'REGISTRY.checkLegal' | translate }}</ion-label> 
            <ion-checkbox [value]="isLegal"  (ionChange)="isChecked('legal')"></ion-checkbox>
          </ion-item>
          <ion-item >
            <ion-label >
              {{ 'REGISTRY.checkTerms' | translate }} 
              <a class="a_ft" (click)="params('terms-complete')">{{ 'REGISTRY.terminosCondiciones' | translate }}</a>
            </ion-label> 
            <ion-checkbox [value]="isTerms"  (ionChange)="isChecked('terms')"></ion-checkbox>
          </ion-item> -->
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isMobile || isWeb">
        <ion-col>
          <hr>
          <p class="OrSingIn-P">{{ 'REGISTRY.OrSingIn' | translate }}</p>
        </ion-col>
      </ion-row>

      <!--
      <ion-row *ngIf="isMobile || isWeb">
        
        <ion-col size="6">
          <img class="singInG-Bt" src="../../../../assets/icon/02-Boton_Google.png" (click)="singUpGoogle()">
        </ion-col>
        <ion-col size="6">
          <img class="singInA-Bt" src="../../../../assets/icon/03-Boton_Apple.png" (click)="singUpApple()">
        </ion-col>
      </ion-row>
      -->

      <ion-row>
        <ion-col>
          <p class="TermTxt-P">{{ 'LOGIN.TermsText2' | translate }} <a class="a_ft" (click)="params('terms-complete')">{{ 'REGISTRY.terminosCondiciones' | translate }}</a></p>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col>
          <p class="TermTxtLink-P"><a class="a_ft" (click)="params('terms-complete')">{{ 'REGISTRY.terminosCondiciones' | translate }}</a></p>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-button class="create-Bt" color="primary1" type="submit">
          {{ 'REGISTRY.btnCreate' | translate }}
        </ion-button>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
