ion-content {
    --padding-top: 15%;
    --padding-start: 5%;
    --padding-end: 5%;
    --padding-bottom: 5%;
}

.singUp-Bt {
    font-family: 'Sk-Modernist-Regular';
    font-size: 15px;
    text-transform: none;
    width: auto;
    --border-style: solid;
    --border-width: 1px;
    --border-color: var(--ion-color-negro);
    --border-radius: 25px;
    --box-shadow:none;
    margin-left: auto;
    margin-right: 0px;
}

.logoImg {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

h1 {
    font-family: 'Sk-Modernist-Bold';
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: -10px;
}

/* ion-item {
    --background: var(--ion-color-blanco);
    --border-style: solid;
    --border-width: 1px;
    --border-radius: 15px;
}

ion-item.item-has-focus {
    .inputLabel.label-floating {
        font-family: 'Sk-Modernist-Regular';
        background: var(--ion-color-light);
        color: var(--ion-color-negro);
    }
}

.inputLabel {
    font-family: 'Sk-Modernist-Regular';
    font-size: 20px;
    color: var(--ion-color-negro);
}

.input {
    font-family: 'Sk-Modernist-Regular';
    font-size: 20px;
    --color: var(--ion-color-negro);
} */

/* 
CASI
ion-item {
    --background:  var(--ion-color-blanco);
    //height: 10px !important;
}

ion-input {
    font-family: 'Sk-Modernist-Regular';
    font-size: 20px;
    --color: var(--ion-color-negro);
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 15px !important;
}

ion-label {
    font-family: 'Sk-Modernist-Regular';
    color: var(--ion-color-negro) !important;

    &.label-floating {
        font-family: 'Sk-Modernist-Regular';
        background: var(--ion-color-blanco) !important;
        color: var(--ion-color-negro) !important;
        border: none;
    }
} */

ion-item {
    --background: var(--ion-color-blanco);
    --color: var(--ion-color-negro);
    --color-focused: var(--ion-color-negro);
    --border-width: 1px !important;
    --padding-top: 3px; 
    --padding-start: 0px;
    --highlight-color-invalid: none;
    --highlight-color-valid: none;
    --highlight-color-focused: none !important;
    //height: 50px;

    &.item-shape-round {
        border-style: solid !important;
        border-width: 1px !important;
        border-radius: 15px !important; 
    }

    /* &.item-has-focus {
        --highlight-background: rgb(0,0,0,0);
    } */
}

ion-item::part(native) {
    border: none;
}

.item-highlight {
    border-width: 0px !important;
}

//CAMPOS CON ION-ITEM
.camposLabel-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    
    &.label-floating {
        font-family: 'Sk-Modernist-Regular';
        font-size: 17px;
        color: var(--ion-color-negro) !important;
        max-width: fit-content !important;
        margin-top: -6px;
    }
}

.input-CItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 19px;
    //height: 20px !important;
}


//CAMPOS SIN ION-ITEM
.camposLabel-SItem {
    //display: initial;
    font-family: 'Sk-Modernist-Regular';
    font-size: 13px;
    text-align: start;
    background-color: var(--ion-color-blanco);
    width: fit-content;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 4px;
    
   /*  &.label-floating {
        color: var(--ion-color-negro) !important;
    } */
}

.input-SItem {
    font-family: 'Sk-Modernist-Regular';
    font-size: 16px;
    height: 50px;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 15px !important;
    --padding-start: 20px;
    --padding-end: 20px;
    margin-top: -10px;
}

.forgotPass-a {
    font-family: 'Sk-Modernist-Regular';
    font-size: 13px;
    text-decoration: none !important;
    color: var(--ion-color-primary, #3880ff);
    display: flex;
    justify-content: flex-end;
}

hr {
    height: 0.1px;
    width: 100%;
    background: var(--ion-color-negro);
    margin-top: 15px;
    margin-left: auto;
}

.OrSingIn-P {
    display: block;
    font-family: 'Sk-Modernist-Regular';
    font-size: 12px;
    text-align: center;
    width: fit-content;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--ion-color-blanco);
}

.singInF-Bt {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: 10px;
}

.singInG-Bt {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: 20px; //auto
}

.singInA-Bt {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 20px; //10px
    margin-right: auto;
}


.error-message {
    font-family: 'Sk-Modernist-Regular';
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--ion-color-negro); 
}

.img-view{
    width: 39px;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.TermTxt-P {
    display: block;
    font-family: 'Sk-Modernist-Regular';
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--ion-color-blanco);
}

.TermTxtLink-P {
    display: block;
    font-family: 'Sk-Modernist-Regular';
    font-size: 12px;
    text-align: center;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--ion-color-blanco);
}

.singIn-Bt {
    display: block;
    font-family: 'Sk-Modernist-Bold';
    font-size: 15px;
    text-transform: none;
    width: 100%;
    --border-radius: 10px;
    --box-shadow:none;
    margin-top: -5px;
}

.label_ver {
    font-family: 'Sk-Modernist-Regular';
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: var(--ion-color-negro); 
}