<ion-header class="ion-no-border ion-padding" color="blanco">
  <ion-toolbar color="blanco">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="main/tabs/account" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title class="title_txt" mode="ios">{{ 'SETTINGS-ACOUNT.TitleTxt' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="blanco ion-padding" fullscreen>
  <ion-list>
    <ion-item style="text-align: center; padding-top: 10px;">
      <div><img class="logoImg" src="../../../../assets/logoApp.jpg"></div>
    </ion-item>
    <ion-item detail (click)="params('privacy')">
      <ion-label>{{ 'SETTINGS-ACOUNT.privacy' | translate }}</ion-label>
    </ion-item>
    <ion-item detail (click)="params('terms')">
      <ion-label>{{ 'SETTINGS-ACOUNT.terms' | translate }}</ion-label>
    </ion-item>
    <ion-item detail (click)="params('AgePolicy')">
      <ion-label>{{ 'SETTINGS-ACOUNT.AgePolicy' | translate }}</ion-label>
    </ion-item>
    <ion-item detail (click)="params('UserLic')">
      <ion-label>{{ 'SETTINGS-ACOUNT.UserLic' | translate }}</ion-label>
    </ion-item>
    <ion-item detail (click)="params('Community')">
      <ion-label>{{ 'SETTINGS-ACOUNT.Community' | translate }}</ion-label>
    </ion-item>
    <ion-item detail (click)="params('DMCAPOL')">
      <ion-label>{{ 'SETTINGS-ACOUNT.DMCAPOL' | translate }}</ion-label>
    </ion-item>
    <ion-item detail (click)="params('RADW')">
      <ion-label>{{ 'SETTINGS-ACOUNT.RADW' | translate }}</ion-label>
    </ion-item>
      <ion-item detail (click)="langchange()">
      <ion-label>{{ 'SETTINGS-ACOUNT.ChangeLanguage' | translate }}</ion-label>
    </ion-item>
    <ion-item detail (click)="changePassword()">
      <ion-label>{{ 'SETTINGS-ACOUNT.ChangePassword' | translate }}</ion-label>
    </ion-item>
    <ion-item detail (click)="logout()">
      <ion-label>{{ 'SETTINGS-ACOUNT.logout' | translate }}</ion-label>
    </ion-item>
    <ion-item color="light" class="list-item-delete" (click)="deleteAccount()">
      <ion-label>{{ 'SETTINGS-ACOUNT.deleteAccount' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>