.btnBack {
    font-size: 18px;
    border-style: solid;
    height: 48px;
    width: 50px;
    color: var(--ion-color-negro);
    border-width: 1px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 0px;
}

ion-avatar { 
    width: 100px;  
    height: 100px;
    margin: 0 auto;
}

.img-avatar {
    border: 2px solid var(--ion-color-primary1) !important;
}

.txtName {
    font-family: 'Sk-Modernist-Bold';
    font-size: 24px;
    color: var(--ion-color-negro);
    margin: 0;
}

.content-starts {
    position: relative;
    width: 250px;
    height: 50px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
    //margin-bottom: 20px;
}

.rate-start {
    position: absolute;
    font-size: 40px;
    color: var(--ion-color-primary1);
}

.rate-start-gris {
    position: absolute;
    font-size: 40px;
    color: var(--ion-color-gris1);
}

.date-rate {
    position: absolute;
    font-family: 'Sk-Modernist-Bold';
    font-size: 16px;
    color: var(--ion-color-negro);
    border-left: 4px solid var(--ion-color-primary1);
    margin: 0;
    padding-left: 5px;
}

.div-start-lt {
    position: relative;
    margin-top: 4px;
    margin-left: 105px;
}

.rate-start-lt {
    position: absolute;
    width: 12px;
}

.comment-rate {
    font-family: 'Sk-Modernist-Bold';
    font-size: 14px;
    color: var(--ion-color-gris1);
}